.section {
  backgroung-color: #fff;
  padding-top: 30px;
  padding-bottom: 60px;
}

.rev_slider_wrapper {
  margin-bottom: 60px;

  .tp-caption {
    color: white;
    font-family: 'Raleway', sans-serif;

    &.our-story {
      
    }
  }
}

.tp-bgimg {
  -webkit-filter: blur(3px);
  filter: blur(3px);
}

.teachers .col-learn-more {
  text-align: center;
}

.section, .banner {
  /* Overview part */
  font-family: "Open Sans", "Whitney SSm A","Whitney SSm B","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  line-height: 1.7;
  color: #303030;

  .h-slim-top, .h-slim{
      margin-top: 0;
  }

  .container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  @media (min-width: 1200px) {
    .container {
      width: 1180px;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  @media (min-width: 768px) {
    .container {
      width: 1180px;
      padding: 0;
    }
  }
  .row {
    margin-left: -15px;
    margin-right: -15px;
  }
  .img-responsive.image-responsive-centered {
      margin: 0 auto;
  }
  .img-responsive, .thumbnail>img, .thumbnail a>img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  /* Second banner */
  .our-story {
    width: 100%;
    background-color: #028bb1;
    background-size: cover;
    background-position: center;
    background-image: url("../assets/img/about/story.jpg");
  }
  .banner-content {
    position: relative;
    background-size: cover;
    background-position: center center;
  }
  .row-gap-huge {
    margin-top: 60px;
  }
  .text-center {
    text-align: center;
  }
  .text-light {
    color: #fff;
  }
  .text-large {
    font-size: 16px;
  }
  .text-light {
    color: #fff;
  }
  
  /* Team part */
  .section-standout {
    background-color: #f3f3f3;
    padding-top:60px;
  }
  .hr-slim {
    margin-top: 11.5px;
    margin-bottom: 11.5px;
  }
  .row-gap-medium {
    margin-top: 30px;
  }
  [data-lazy-load] {
    opacity: 0;
    transition: opacity .3s ease-in;
  }
  .img-circle {
    border-radius: 50%;
  }
  @media (max-width: 767px) {
    .avatar-wrapper img {
      text-align: center;
      margin: 0 auto;
      max-width: 100px;
    }
  }
  h4 {
    color: #767676;
    line-height: 1.6;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 12px;
  }
}
