.tripalinkBanner {
  background-image: url('../assets/img/handstand/banner_handstand.jpg');
  padding-top: 145px;
}
.tripalinkBannerText {
  background-image: url('../assets/img/handstand/banner_handstand_text.png');
  width: 950px;
  height: 270px;
  background-size: 950px 270px;
}
.tripalink-content-0 {
  background-color: #54CC96;
  width: 100%;
  height: 618px;
}
.tripalink-line {
  background-image: url('../assets/img/handstand/handstand_line.png');
  width: 12px;
  height: 5046px;
  background-size: 12px 5046px;
  position: absolute;
  top: 147px;
  z-index: 1;
}
.tripalink-content-text-0 {
  background-image: url('../assets/img/handstand/handstand_content_0.png');
  width: 578px;
  height: 370px;
  background-size: 578px 370px;
  float: left;
  margin-left: 84px;
  margin-top: 135px;
}
.tripalink-content {
  float: left;
}
.tripalink-content-3 {
  background-image: url('../assets/img/handstand/handstand_content_1.png');
  width: 950px;
  height: 7675px;
  background-size: 950px 7675px;
  margin-top: 100px;
  z-index: 2;
  position: relative;
}

.page-footer {
  color: #54CC96;
}
.tripalink-footer-btn {
  color: #54CC96;
  border: 2px solid #54CC96;
  background-image: linear-gradient(to left,
                      transparent,
                      transparent 50%,
                      #54CC96 50%,
                      #54CC96);
  cursor: pointer;
  position: relative;
  transition:color 0.25s ease;
  display: inline-block;
  background-position: 100% 0;
  background-size: 200% 100%;
  transition: all .25s ease-in;
}
.tripalink-footer-btn:hover {
  color: white !important;
  background-position: 0 0;
}
.footer-divider {
  background-color: #54CC96;
}
.footer-img {
  background-image: url('../assets/img/tripalink/tripalink-footer-pic.jpg');
  position: relative;
  cursor: pointer;
}
.foot-img-master {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0,0.5);
}
.footer-img:hover .foot-img-master {
  display: none;
}
.footer-container {
  border-top: 0 solid white !important;
  color: #272F3D;
}

