@import 'video-modal';

.rev_slider_wrapper {
  margin-bottom: 60px;

  .tp-caption.News-Title {
    font-family: 'Raleway', sans-serif;
  }
}

.tp-bgimg {
  -webkit-filter: blur(3px);
  filter: blur(3px);
}

.teachers .col-learn-more {
  text-align: center;
}

#intro-video {
  cursor: pointer;
}
