.tripalinkBanner {
  background-image: url('../assets/img/laioffer/banner_laioffer.jpg');
  padding-top: 120px;
}
.tripalinkBannerText {
  background-image: url('../assets/img/laioffer/banner_laioffer_text.png');
  width: 950px;
  height: 295px;
  background-size: 950px 295px;
}
.tripalink-content-0 {
  background-color: #6DC1F7;
  width: 100%;
  height: 570px;
}
.tripalink-line {
  background-image: url('../assets/img/laioffer/laioffer_line.png');
  width: 12px;
  height: 13497px;
  background-size: cover;
  position: absolute;
  top: 147px;
  z-index: 1;
}
.tripalink-content-text-0 {
  background-image: url('../assets/img/laioffer/laioffer_content_0.png');
  width: 578px;
  height: 330px;
  background-size: 578px 330px;
  float: left;
  margin-left: 84px;
  margin-top: 133px;
}
.tripalink-content {
  float: left;
}
.tripalink-content-1 {
  background-image: url('../assets/img/tripalink/tripalink_content_1.png');
  width: 643px;
  height: 720px;
  background-size: 643px 720px;
  margin-left: 84px;
  margin-top: 124px;
}
.tripalink-content-2 {
  background: #EDEFF3;
  width: 100%;
  height: 1115px;
  z-index: 2;
  position: relative;
  margin-top:80px;
  padding-top: 100px;
}
.tripalink-content-text-2 {
  background-image: url('../assets/img/tripalink/tripalink-content-text-2.png');
  width: 832px;
  height: 915px;
  background-size: 832px 915px;
  margin-left: -150px;
}
.tripalink-content-3 {
  background-image: url('../assets/img/laioffer/laioffer_content_1.png');
  width: 950px;
  height: 12000px;
  background-size: 950px 12000px;
  margin-top: 100px;
  z-index: 2;
  position: relative;
}
.tripalink-content-4 {
  background-image: url('../assets/img/tripalink/tripalink_content_3.png');
  width: 950px;
  height: 2213px;
  background-size: 950px 2213px;
  margin-top: 100px;
  z-index: 2;
  position: relative;
}
.tripalink-content-5 {
  background-image: url('../assets/img/tripalink/tripalink_content_4.png');
  width: 335px;
  height: 126px;
  background-size: 335px 126px;
  float: left;
  margin-left: 85px;
  margin-top: 140px;
  z-index: 2;
  position: relative;
}

.temp_box {
  height: 350px;
  width: 100%;
  padding-top: 50px;
  position: relative;
  z-index: 2;
  background: white;
}

.tripalink-content-6 {
  background-image: url('../assets/img/tripalink/tripalink_content_5.jpg');
  width: 950px;
  height: 244px;
  background-size: 950px 244px;
  z-index: 2;
  position: relative;
}

.tripalink-content-7-box {
  width: 100%;
  height: 700px;
  background: #CDE4F9;
  position: relative;
  z-index: 2;
  padding-top: 100px;
  .tripalink-content-7 {
    background-image: url('../assets/img/tripalink/tripalink_content_6.png');
    width: 950px;
    height: 480px;
    background-size: 950px 480px;
  }
}
.tripalink-content-8 {
  background-image: url('../assets/img/tripalink/tripalink_content_7.png');
  width: 1043px;
  height: 9987px;
  background-size: 1043px 9987px;
  z-index: 2;
  position: relative;
  margin-top:100px;
}
.page-footer {
  color: #6DC1F7;
}
.tripalink-footer-btn {
  color: #6DC1F7;
  border: 2px solid #6DC1F7;
  background-image: linear-gradient(to left,
                      transparent,
                      transparent 50%,
                      #6DC1F7 50%,
                      #6DC1F7);
  cursor: pointer;
  position: relative;
  transition:color 0.25s ease;
  display: inline-block;
  background-position: 100% 0;
  background-size: 200% 100%;
  transition: all .25s ease-in;
}
.tripalink-footer-btn:hover {
  color: white !important;
  background-position: 0 0;
}
.footer-divider {
  background-color: #6DC1F7;
}
.footer-img {
  background-image: url('../assets/img/tripalink/tripalink-footer-pic.jpg');
  position: relative;
  cursor: pointer;
}
.foot-img-master {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0,0.5);
}
.footer-img:hover .foot-img-master {
  display: none;
}
.footer-container {
  border-top: 0 solid white !important;
  color: #272F3D;
}

