/*==================
 RESPONSIVE DESIGN
====================*/
@media (max-width: 1199px) {
}

@media (max-width: 991px) {
  .mu-title p {
    padding: 0 20px;
  }

  #mu-latest-courses {
    padding: 60px 0 90px;
  }
}

@media (max-width: 767px) {
  #mu-latest-courses .mu-latest-courses-area .mu-latest-courses-content .mu-latest-course-single .mu-latest-course-img .mu-latest-course-imgcaption a {
    font-size: 14px;
  }

  #mu-latest-courses .mu-latest-courses-area .mu-latest-courses-content .mu-latest-course-single .mu-latest-course-img .mu-latest-course-imgcaption span {
    font-size: 14px;
  }
}

@media (max-width: 640px) {

}

@media (max-width: 480px) {

}

@media (max-width: 360px) {
}