.main-background{
  width: 100%;
  height: 800px;
  background-image: url('../assets/img/trust/map@2x.png');
  background-size: auto 800px;
  position: relative;
  color: white;
  background-position-x: center;
  .main-left-background {
    position: absolute;
    width: 50%;
    height: 100%;
    left:0;
  }
  .main-right-background {
    position: absolute;
    width: 50%;
    height: 100%;
    right: 0;
  }
  .main-background-middle {
    width: 1018px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: left;
  }
  .main-background-middle-left {
    width: 437px;
    float: left;
    height: 100%;
    .main-background-text-1 {
      width: 295px;
      height: 28px;
      font-family: Lato;
      font-size: 20px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.4;
      letter-spacing: normal;
      text-align: left;
      color: #1d2c4c;
      position: relative;
      z-index: 99;
      top: 440px;
      float: left;
    }
    .main-background-text-2 {
      width: 520px;
      height: 80px;
      font-family: Palatino;
      font-size: 60px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.33;
      letter-spacing: normal;
      text-align: left;
      color: #1d2c4c;
      position: relative;
      z-index: 99;
      float: left;
      top: 490px;
    }
    .main-background-text-3 {
      width: 177px;
      height: 28px;
      font-family: Lato;
      font-size: 20px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.4;
      letter-spacing: normal;
      text-align: left;
      color: #1d2c4c;
      position: relative;
      z-index: 99;
      float: left;
      top: 520px;
    }
  }
  .main-background-middle-right {
    float: left;
    width: 580px;
    height: 100%;
    position: relative;
    z-index: 99;
    padding-top: 162px;
  }
}
.main-content-01{
  width: 100%;
  margin-top: 200px;
  margin-left: 124px;
  position: relative;
  float: left;
  .left {
    margin-top: 63px;
    background-image: url("../assets/img/trust/group-16@2x.png");
    background-size: 100% 100%;
    width: 301px;
    height: 223px;
    float: left;
  }
  .right {
    float: left;
    margin-left: 135px;
    div:first-child {
      width: 251px;
      height: 48px;
      font-family: Lato;
      font-size: 32px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: 1px;
      text-align: left;
      color: #1d2c4c;
    }
    div:nth-child(2) {
      width: 560px;
      height: 252px;
      font-family: Lato;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.75;
      letter-spacing: normal;
      text-align: left;
      color: #525975;
      margin-top: 48px;
    } 
  }
  .main-content-container {
    width: 1280px;
    height: auto;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    .main-content-box {
      width: 100%;
      float: left;
      position: relative;
    }
    .main-content-box:nth-child(2) {
      margin-top: 100px;
    }
    .main-content-box-2 {
      margin-top: 160px;
      height: 800px;
      background-image: url("../assets/img/tripalink/image@2x.jpg");
      background-size: 100% 100%;
    }
    .main-content-box-2 div:first-child {
      margin-top: 200px;
      width: 259px;
      height: 48px;
      font-family: Lato;
      font-size: 32px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: 1px;
      text-align: left;
      color: #1d2c4c;
      margin-left: 220px;
    }
    .main-content-box-2 div:nth-child(2) {
      width: 560px;
      height: 308px;
      font-family: Lato;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.75;
      letter-spacing: normal;
      text-align: left;
      color: #525975;
      margin-left: 220px;
      margin-top: 48px;
    }

    .main-content-box-3 {
      margin-top: 160px;
      margin-left: 360px;
      div:first-child {
        width: 330px;
        height: 48px;
        font-family: Lato;
        font-size: 32px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: 1px;
        text-align: left;
        color: #1d2c4c;
      }
      div:nth-child(2) {
        width: 560px;
        height: 252px;
        font-family: Lato;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.75;
        letter-spacing: normal;
        text-align: left;
        margin-top: 48px;
        color: #525975;
      }
    }
    .main-content-box-4 {
      margin-top: 100px;
      margin-left: 360px;
      .title {
        width: 100%;
        height: 28px;
        font-family: Lato;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.75;
        letter-spacing: normal;
        text-align: left;
        color: #525975;
        position: relative;
        float: left;
      }
      .content {
        width: 100%;
        margin-top: 16px;
        position: relative;
        float: left;
        .circle-outter {
          width: 20px;
          height: 20px;
          background-color: rgba(255, 228, 88, 0.2);
          border-radius: 10px;
          padding: 8px;
          position: relative;
          float: left;
          margin-right: 16px;
          top: 3px;
          .circle-inner {
            width: 4px;
            height: 4px;
            background-color: #ffe458;
            border-radius: 2px;
            position: relative;
            float: left;          
          }
        }
      }
      .content-1 {
        margin-top: 24px;
      }
      .text {
        font-family: Lato;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.86;
        letter-spacing: normal;
        text-align: left;
        color: #525975;
        span {
          font-weight: bold;
          color: #1d2c4c;
        }
      }
    }
    .main-content-box-5 {
      margin-top: 48px;
      margin-left: 360px;
      .title {
        width: 100%;
        height: 28px;
        font-family: Lato;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.75;
        letter-spacing: normal;
        text-align: left;
        color: #525975;
        position: relative;
        float: left;
      }
      .content {
        width: 100%;
        margin-top: 16px;
        position: relative;
        float: left;
        .circle-outter {
          width: 20px;
          height: 20px;
          background-color: rgba(254, 97, 96, 0.2);;
          border-radius: 10px;
          padding: 8px;
          position: relative;
          float: left;
          margin-right: 16px;
          top: 3px;
          .circle-inner {
            width: 4px;
            height: 4px;
            background-color: #fe6160;
            border-radius: 2px;
            position: relative;
            float: left;          
          }
        }
      }
      .content-1 {
        margin-top: 24px;
      }
      .text {
        font-family: Lato;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.86;
        letter-spacing: normal;
        text-align: left;
        color: #525975;
        span {
          font-weight: bold;
          color: #1d2c4c;
        }
      }
    }
    .main-content-box-6 {
      margin-top: 24px;
      width: 100%;
      font-family: Lato;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.86;
      letter-spacing: normal;
      text-align: left;
      color: #525975;
      a {
        color: #009cda;
      }
    }
    .main-content-box-7 {
      width: 560px;
      height: 56px;
      font-family: Lato;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.75;
      letter-spacing: normal;
      text-align: left;
      color: #525975;
      margin-top: 100px;
      margin-bottom: 100px;
    }
  }
}
.main-content-02 {
  width: 100%;
  position: relative;
  float: left;
  height: 1040px;
  margin-top: 200px;
  .background {
    width: 100%;
    height: 100%;
    position: absolute;
    border-top: 130px solid transparent;
    border-left: 100vw solid #f9f9fa;
    border-bottom: 130px solid transparent;
    top: 0;
    left: 0;
  }
  .main-content-container {
    width: 1280px;
    height: auto;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
  }
  .main-content-box {
    width: 100%;
    float: left;
    position: relative;
  }
  .main-content-box-1 {
    margin-left: 360px;
    margin-top: 200px;
    div:first-child {
      width: 356px;
      height: 68px;
      font-family: Lato;
      font-size: 48px;
      font-weight: 900;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.42;
      letter-spacing: 2px;
      text-align: left;
      color: #1d2c4c;
    }
    div:nth-child(2) {
      width: 310px;
      height: 48px;
      font-family: Lato;
      font-size: 32px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: 1px;
      text-align: left;
      color: #1d2c4c;
      margin-top: 100px;
    }
    div:nth-child(3) {
      width: 560px;
      height: 56px;
      font-family: Lato;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.75;
      letter-spacing: normal;
      text-align: left;
      color: #525975;
      margin-top:48px;
    }
  }
  .main-content-box-2 {
    margin-top: 100px;
    margin-left: 124px;
    background-image: url("../assets/img/trust/old-website@2x.png");
    background-size: 100% 100%;
    width: 1032px;
    height: 220px;
  }
}
.main-content-03 {
  width: 100%;
  position: relative;
  float: left;
  margin-top: 120px;
  .main-content-container {
    width: 1280px;
    height: auto;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
  }
  .main-content-box {
    width: 100%;
    float: left;
    position: relative;
  }
  .main-content-box-1 {
    margin-left: 360px;
    div:first-child {
      width: 177px;
      height: 48px;
      font-family: Lato;
      font-size: 32px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: 1px;
      text-align: left;
      color: #1d2c4c;
    }
    div:nth-child(2) {
      margin-top: 48px;
      width: 560px;
      height: 252px;
      font-family: Lato;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.75;
      letter-spacing: normal;
      text-align: left;
      color: #525975;
    }
  }
  .main-content-box-2 {
    width: 880px;
    height: 708px;
    margin-left: 200px;
    background-image: url("../assets/img/trust/challenge.png");
    background-size: 100% 100%;
    margin-top: 100px;
  }
  .main-content-box-3 {
    margin-top: 160px;
    margin-left: 324px;
    width: 596px;
    height: 344px;
    background-image: url("../assets/img/trust/theNorthStar.jpg");
    background-size: 100% 100%;
  }
  .main-content-box-4 {
    width: 571px;
    height: 68px;
    font-family: Lato;
    font-size: 48px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.42;
    letter-spacing: 2px;
    text-align: left;
    color: #1d2c4c;
    margin-left: 360px;
    margin-top: 200px;
  }
}
.main-content-04 {
  width: 100%;
  position: relative;
  float: left;
  height: 940px;
  margin-top: 48px;
  .background {
    width: 100%;
    height: 100%;
    position: absolute;
    border-top: 130px solid transparent;
    border-right: 100vw solid #f9f9fa;
    border-bottom: 130px solid transparent;
    top: 0;
    left: 0;
  }
  .main-content-container {
    width: 1280px;
    height: auto;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
  }
  .main-content-box {
    width: 100%;
    float: left;
    position: relative;
  }
  .main-content-box-1 {
    margin-top: 164px;
    margin-left: 280px;
    background-size: 100% 100%;
    background-image: url("../assets/img/trust/group-19.png");
    width: 840px;
    height: 564px;
  }
}
.main-content-05 {
  width: 100%;
  position: relative;
  float: left;
  margin-top: 120px;
  .main-content-container {
    width: 1280px;
    height: auto;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
  }
  .main-content-box {
    width: 100%;
    float: left;
    position: relative;
  }
  .main-content-box-1 {
    margin-left: 360px;
    div:first-child {
      width: 169px;
      height: 48px;
      font-family: Lato;
      font-size: 32px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: 1px;
      text-align: left;
      color: #1d2c4c;
    }
    div:nth-child(2) {
      margin-top: 48px;
      width: 560px;
      height: 84px;
      font-family: Lato;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.75;
      letter-spacing: normal;
      text-align: left;
      color: #525975;
    }
    div:nth-child(3) {
      width: 960px;
      height: 568px;
      background-image:url("../assets/img/trust/job-stories.svg");
      background-size: 100% 100%;
      margin-left: -200px;
      margin-top: 100px;
    }
  }
  .main-content-box-2 {
    margin-left: 332px;
    margin-top: 160px;
    background-size: 100% 100%;
    background-image:url("../assets/img/trust/do.png");
    width: 588px;
    height: 400px;
  }
  .main-content-box-3 {
    margin-left: 360px;
    margin-top: 160px;
    div:first-child {
      width: 118px;
      height: 48px;
      font-family: Lato;
      font-size: 32px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: 1px;
      text-align: left;
      color: #1d2c4c;
    }
    div:nth-child(2) {
      width: 560px;
      height: 84px;
      font-family: Lato;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.75;
      letter-spacing: normal;
      text-align: left;
      color: #525975;
      margin-top: 48px;
    }
  }
  .main-content-box-4 {
    margin-left: 214px;
    margin-top: 80px;
    div {
      width: 406px;
      height: 160px;
      background-size: 100% 100%;
      float: left;
    }
    div:first-child {
      background-image: url("../assets/img/trust/option-a.svg");
    }
    div:nth-child(2) {
      background-image: url("../assets/img/trust/option-b.svg"); 
      margin-left: 40px;
    }
  }
  .main-content-box-5 {
    width: 560px;
    height: 196px;
    font-family: Lato;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.75;
    letter-spacing: normal;
    text-align: left;
    color: #525975;
    margin-top: 80px;
    margin-left: 360px;
  }
  .main-content-box-6 {
    margin-top: 160px;
    margin-left: 360px;
    div:first-child {
      width: 411px;
      height: 48px;
      font-family: Lato;
      font-size: 32px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: 1px;
      text-align: left;
      color: #1d2c4c;
    }
    div:nth-child(2) {
      margin-top: 48px;
      width: 560px;
      height: 140px;
      font-family: Lato;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.75;
      letter-spacing: normal;
      text-align: left;
      color: #525975;
    }
  }
  .main-content-box-7 {
    margin-top: 100px;
    height: 704px;
    background-color: #f9f9fa;
    div {
      width: 1021px;
      height: 504px;
      background-size: 100% 100%;
      background-image: url("../assets/img/trust/group-4@2x.png");
      margin-top: 100px;
    }
  }
  .main-content-box-8 {
    margin-top: 100px;
    margin-left: 360px;
    div:first-child {
      width: 560px;
      height: 112px;
      font-family: Lato;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.75;
      letter-spacing: normal;
      text-align: left;
      color: #525975;
    }
    div:nth-child(2) {
      margin-top: 88px;
      width: 242px;
      height: 48px;
      font-family: Lato;
      font-size: 32px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: 1px;
      text-align: left;
      color: #1d2c4c;
    }
    div:nth-child(3) {
      margin-top: 48px;
      width: 560px;
      height: 112px;
      font-family: Lato;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.75;
      letter-spacing: normal;
      text-align: left;
      color: #525975;
    }
  }
  .main-content-box-9 {
    margin-top: 100px;
    height: 600px;
    width: 100%;
    background-color: #399c1d;
    .container {
      width: 1280px;
      margin-top: 100px;
      div {
        width: 280px;
        height: 400px;
        background-size: 100% 100%;
        float: left;
      }
      div:first-child {
        background-image: url("../assets/img/trust/wireframe-1.svg");
        margin-left: 156px;
      }
      div:nth-child(2) {
        background-image: url("../assets/img/trust/wireframe-2.svg");
        margin-left: 64px;
      }
      div:nth-child(3) {
        background-image: url("../assets/img/trust/wireframe-3.svg");
        margin-left: 64px;
      }
    }
  }
  .main-content-box-10 {
    margin-left: 360px;
    margin-top: 100px;
    div:first-child {
      width: 560px;
      height: 56px;
      font-family: Lato;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.75;
      letter-spacing: normal;
      text-align: left;
      color: #525975;
    }
    div:nth-child(2) {
      margin-top: 200px;
      width: 497px;
      height: 68px;
      font-family: Lato;
      font-size: 48px;
      font-weight: 900;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.42;
      letter-spacing: 2px;
      text-align: left;
      color: #1d2c4c;
    }
  }
  .main-content-box-11 {
    margin-left: 330px;
    margin-top: 100px;
    background-size: 100% 100%;
    width: 480px;
    height: 68px;
    background-image: url("../assets/img/trust/group-20.jpg");
  }
  .main-content-box-12 {
    width: 560px;
    height: 774px;
    background-size: 100% 100%;
    background-image: url("../assets/img/trust/stc.jpg");
    margin-left: 360px;
    margin-top: 100px;  
  }
  .main-content-box-13 {
    margin-top: 120px;
    margin-left: 360px;
    div:first-child {
      width: 560px;
      height: 32px;
      font-family: Lato;
      font-size: 24px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.33;
      letter-spacing: normal;
      text-align: left;
      color: #1d2c4c;
    }
    div:nth-child(2) {
      margin-top: 48px;
      width: 560px;
      height: 84px;
      font-family: Lato;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.75;
      letter-spacing: normal;
      text-align: left;
      color: #525975;
    }
  }
  .main-content-box-14 {
    border-top: 1px solid #DCDEE3;
    margin-top: 100px;
    div {
      width: 1280px;
      height: 786px;
      background-size: 100% 100%;
      background-image: url("../assets/img/trust/map.jpg");
      margin-top: -1px;
    }
  }
  .main-content-box-15 {
    background-image:url("../assets/img/trust/group-21.png");
    height: 4982px;
    width: 1280px;
    background-size: 100% 100%;
    margin-top: 64px;
  }
  .main-content-box-16 {
    background-image: url("../assets/img/trust/group-24.png");
    width: 940px;
    height: 2382px;
    background-size: 100% 100%;
    margin-top: 160px;
    margin-left: 170px;
  }
  .main-content-box-17 {
    width: 100%;
    height: 666px;
    margin-top: 72px;
    background-color: #f9f9fa;
    div {
      width: 960px;
      height: 466px;
      background-size: 100% 100%;
      background-image: url("../assets/img/trust/flow-maps.png");
      margin-top: 100px;
    }
  }
  .main-content-box-18 {
    width: 100%;
    div:first-child {
      width: 1280px;
      height: 5986px;
      background-size: 100% 100%;
      background-image: url("../assets/img/trust/group-25.png");
      margin-top: 120px;
    }
  }
  .main-content-box-19 {
    width: 1280px;
    height: 716px;
    background-color: #f9f9fa;
    margin-top: 100px;
    div {
      background-image: url("../assets/img/trust/design@2x.png");
      width: 944px;
      height: 516px;
      background-size: 100% 100%;
      margin-top: 100px;
    }
  }
  .main-content-box-20 {
    margin-top: 80px;
    margin-left: 360px;
    div:first-child {
      width: 560px;
      height: 32px;
      font-family: Lato;
      font-size: 24px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.33;
      letter-spacing: normal;
      text-align: left;
      color: #1d2c4c;
    }
    div:nth-child(2) {
      margin-top: 48px;
      width: 560px;
      height: 140px;
      font-family: Lato;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.75;
      letter-spacing: normal;
      text-align: left;
      color: #525975;
    }
    div:nth-child(3) {
      margin-top: 120px;
      width: 560px;
      height: 32px;
      font-family: Lato;
      font-size: 24px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.33;
      letter-spacing: normal;
      text-align: left;
      color: #1d2c4c;
    }
    div:nth-child(4) {
      margin-top: 48px;
      width: 560px;
      height: 224px;
      font-family: Lato;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.75;
      letter-spacing: normal;
      text-align: left;
      color: #525975;
    }
    div:nth-child(5) {
      margin-top: 200px;
      width: 560px;
      height: 68px;
      font-family: Lato;
      font-size: 48px;
      font-weight: 900;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.42;
      letter-spacing: 2px;
      text-align: left;
      color: #1d2c4c;
    }
    div:nth-child(6) {
      margin-top: 100px;
      width: 560px;
      height: 96px;
      font-family: Lato;
      font-size: 32px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: 1px;
      text-align: left;
      color: #1d2c4c;
    }
    div:nth-child(7) {
      margin-top: 48px;
      width: 560px;
      height: 392px;
      font-family: Lato;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.75;
      letter-spacing: normal;
      text-align: left;
      color: #525975;
    }
  }
}
.main-content-06 {
  width: 100%;
  position: relative;
  float: left;
  margin-top: 360px;
  .main-content-container {
    width: 1280px;
    height: auto;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
  }
  .main-content-box {
    width: 100%;
    float: left;
    position: relative;
  }
  .main-content-box-1 {
    width: 232px;
    height: 48px;
    font-family: Lato;
    font-size: 32px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 1px;
    text-align: left;
    color: #1d2c4c;
    margin-left: 360px;
  }
  .main-content-box-2 {
    margin-top: 48px;
    margin-left: 338px;
    .list {
      float: left;
      width: 100%;
      margin-bottom: 38px;
      .circle {
        width: 8px;
        height: 8px;
        background-color: #ffffff;
        border: solid 2px #4a90e2;
        margin-right: 16px;
        border-radius: 4px;
        float: left;
        margin-top: 12px;
      }
      .text {
        width: 560px;
        height: 56px;
        font-family: Lato;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.75;
        letter-spacing: normal;
        text-align: left;
        color: #525975;
        float: left;
      }
    }
  }
}
@media only screen and (min-width: 1678px) {
  .main-content-07 .top {
    background-size: 100% 100% !important;
  }
  .main-content-07 .med {
    background-size: 100% 100% !important;
  }
  .main-content-07 .lower {
    background-size: 100% 100% !important;
  }
}
.main-content-07 {
  width: 100%;
  height: 2138px;
  margin-top: 200px;
  position: relative;
  float: left;
  .top {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../assets/img/tripalink/up@2x.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
  }
  .med {
    position: absolute;
    top: 180px;
    left: 0;
    background-image: url("../assets/img/tripalink/med@2x.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
  }
  .lower {
    position: absolute;
    top: 220px;
    left: 0;
    background-image: url("../assets/img/tripalink/lower@2x.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
  }
  .main-content-container {
    width: 1280px;
    height: auto;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
  }
  .main-content-box {
    width: 100%;
    float: left;
    position: relative;
  }
  .main-title-number {
    width: 232px;
    height: 220px;
    font-family: Lato;
    font-size: 200px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.1;
    letter-spacing: normal;
    text-align: right;
    color: rgba(255, 255, 255, 0.2);
    margin-left: 220px;
    margin-top: 160px;
    float: left;
  }
  .main-title-text {
    width: 294px;
    height: 68px;
    font-family: Lato;
    font-size: 48px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.42;
    letter-spacing: 2px;
    text-align: left;
    color: #ffffff;
    float:left;
    margin-top: 236px;
    margin-left: -68px;
  }
  .main-content-box-2 {
    margin-left: 360px;
    margin-top: 100px;
    div:first-child {
      width: 560px;
      height: 48px;
      font-family: Lato;
      font-size: 32px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: 1px;
      text-align: left;
      color: #ffffff;
    }
    div:nth-child(2) {
      width: 560px;
      height: 56px;
      font-family: Lato;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.75;
      letter-spacing: normal;
      text-align: left;
      color: #ffffff;
      margin-top: 48px;
    }
  }
  .main-content-box-3 {
    background-image: url("../assets/img/tripalink/date-map@2x.png");
    background-size: 100% 100%;
    width: 960px;
    height: 982px;
    margin-top: 100px;
    margin-left: 175px;
  }
  .main-content-box-4 {
    margin-left: 360px;
    margin-top: 160px;
    div:first-child {
      width: 304px;
      height: 48px;
      font-family: Lato;
      font-size: 32px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: 1px;
      text-align: left;
      color: #1d2c4c;
    }
    div:nth-child(2) {
      width: 560px;
      height: 168px;
      font-family: Lato;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.75;
      letter-spacing: normal;
      text-align: left;
      color: #525975;
      margin-top: 48px;
    }
  }
}
.main-content-08 {
  width: 100%;
  margin-top: 200px;
  position: relative;
  float: left;
  .main-content-container {
    width: 1280px;
    height: auto;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
  }
  .main-content-box {
    width: 100%;
    float: left;
    position: relative;
  }
  .main-content-box-1 {
    margin-top: 160px;
    margin-left: 120px;
    background-image: url("../assets/img/tripalink/illustration@2x.png");
    width: 1086px;
    height: 528px;
    background-size: 100% 100%;
  }
  .main-content-box-2 {
    width: 1280px;
    height: 410px;
    background-image: url("../assets/img/tripalink/icons@2x.png");
    background-size: 100% 100%;
    margin-top: 200px;
  }
  .main-content-box-3 {
    margin-top: 200px;
    div:first-child {
      margin-top: 121px;
      width: 553px;
      height: 614px;
      background-image: url("../assets/img/tripalink/open-sans@2x.png");
      background-size: 100% 100%;
      float: left;
    }
    div:nth-child(2) {
      margin-left: 63px;
      float: left;
      width: 664px;
      height: 750px;
      background-image: url("../assets/img/tripalink/color@2x.png");
      background-size: 100% 100%;
    }
  }
  .main-content-box-4 {
    margin-left: 360px;
    div:first-child {
      width: 560px;
      height: 168px;
      font-family: Lato;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.75;
      letter-spacing: normal;
      text-align: left;
      color: #525975;
      margin-bottom: 160px;
    }
    div:nth-child(2) {
      width: 560px;
      height: 48px;
      font-family: Lato;
      font-size: 32px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: 1px;
      text-align: left;
      color: #1d2c4c;
      margin-bottom: 48px;
    }
    div:nth-child(3) {
      width: 560px;
      height: 56px;
      font-family: Lato;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.75;
      letter-spacing: normal;
      text-align: left;
      color: #525975;
      margin-bottom: 100px;
    }
    div:nth-child(4) {
      margin-left: -140px;
      background-image: url('../assets/img/zscalerApp/option-1@2x.png');
      width: 840px;
      height: 508px;
      background-size: 100% 100%;
      margin-bottom: 100px;
    }
    div:nth-child(5) {
      width: 560px;
      height: 196px;
      font-family: Lato;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.75;
      letter-spacing: normal;
      text-align: left;
      color: #525975;
      margin-bottom: 100px;
    }
    div:nth-child(6) {
      margin-left: -140px;
      background-image: url('../assets/img/zscalerApp/option-2@2x.png');
      width: 840px;
      height: 520px;
      background-size: 100% 100%;
      margin-bottom: 100px;
    }
    div:nth-child(7) {
      width: 560px;
      height: 196px;
      font-family: Lato;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.75;
      letter-spacing: normal;
      text-align: left;
      color: #525975;
      margin-bottom: 160px;   
    }
    div:nth-child(8) {
      width: 296px;
      height: 48px;
      font-family: Lato;
      font-size: 32px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: 1px;
      text-align: left;
      color: #1d2c4c;      
    }
  }
}
.main-content-09 {
  width: 100%;
  margin-top: 200px;
  position: relative;
  float: left;
  .main-title-number {
    width: 232px;
    height: 220px;
    font-family: Lato;
    font-size: 200px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.1;
    letter-spacing: normal;
    text-align: left;
    color: rgba(1, 82, 252, 0.05);
    margin-left: 200px;
    float: left;
  }
  .main-title-text {
    width: 339px;
    height: 68px;
    font-family: Lato;
    font-size: 48px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.42;
    letter-spacing: 2px;
    text-align: left;
    color: #1d2c4c;
    float:left;
    margin-top: 76px;
    margin-left: -68px;
  }
  .main-content-container {
    width: 1280px;
    height: auto;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
  }
  .main-content-box {
    width: 100%;
    float: left;
    position: relative;
  }
  .main-content-box-2 {
    margin-top: 100px;
    margin-left: 180px;
    div:first-child {
      margin-top: 200px;
      float: left;
      background-image: url("../assets/img/tripalink/line-dot@2x.png");
      background-size: 100% 100%;
      width: 230px;
      height: 530px;
    }
    div:nth-child(2) {
      width: 840px;
      height: 667px;
      background-image: url("../assets/img/tripalink/mac-mockup@2x.png");
      background-size: 100% 100%;
      width: 840px;
      height: 667px;
      margin-left: 30px;
      float: left;
    }
  }
  .main-content-box-3 {
    margin-top: 80px;
    margin-left: 140px;
    div:first-child {
      background-image: url("../assets/img/tripalink/landing-page@2x.png");
      background-size: 100% 100%;
      width: 620px;
      height: 1800px;
      float: left;
    }
    div:nth-child(2) {
      background-image: url("../assets/img/tripalink/landing-page2@2x.png");
      margin-top: 243px;
      margin-left: -200px;
      width: 620px;
      height: 1299px;
      background-size: 100% 100%;
      float: left;
    }
  }
}

.main-content-10 {
  width: 100%;
  margin-top: 200px;
  position: relative;
  float: left;
  .main-title-number {
    width: 232px;
    height: 220px;
    font-family: Lato;
    font-size: 200px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.1;
    letter-spacing: normal;
    text-align: left;
    color: rgba(1, 82, 252, 0.05);
    margin-left: 200px;
    float: left;
  }
  .main-title-text {
    width: 211px;
    height: 68px;
    font-family: Lato;
    font-size: 48px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.42;
    letter-spacing: 2px;
    text-align: left;
    color: #1d2c4c;
    float:left;
    margin-top: 76px;
    margin-left: -68px;
  }
  .main-content-container {
    width: 1280px;
    height: auto;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
  }
  .main-content-box {
    width: 100%;
    float: left;
    position: relative;
  }
  .main-content-box-2 {
    width: 560px;
    height: 112px;
    font-family: Lato;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.75;
    letter-spacing: normal;
    text-align: left;
    color: #525975;
    margin-left: 360px;
    margin-top: 100px;
  }
  .main-content-box-3 {
    margin-left: 336px;
    margin-top: 48px;
    .list {
      float: left;
      width: 100%;
      margin-bottom: 38px;
      .circle {
        width: 8px;
        height: 8px;
        background-color: #ffffff;
        border: solid 2px #4a90e2;
        margin-right: 16px;
        border-radius: 4px;
        float: left;
        margin-top: 12px;
      }
      .text {
        width: 560px;
        font-family: Lato;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.75;
        letter-spacing: normal;
        text-align: left;
        color: #525975;
        float: left;
      }
    }
  }
}
.main-content-19 {
  width: 100%;
  position: relative;
  float: left;
  margin-top: 200px;
  height: auto;
  .main-content-container {
    width: 1280px;
    height: auto;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    .main-content-box {
      width: 100%;
      float: left;
      position: relative;
    }
    .main-content-box-1 {
      width: 720px;
      height: 28px;
      float: right;
      background-color: rgba(67, 219, 122, 0.2);
    }
    .main-content-box-2 {
      margin-top: 52px;
      margin-left: 148px;
      .left {
        width: 560px;
        margin-top: 63px;
        height: 540px;
        float: left;
        .title {
          width: 206px;
          height: 60px;
          font-family: Palatino;
          font-size: 60px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 1;
          letter-spacing: 1.3px;
          text-align: left;
          color: #242324;
        }
        .list {
          float: left;
          width: 100%;
          height: 32px;
          font-family: Lato;
          font-size: 18px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.78;
          letter-spacing: normal;
          text-align: left;
          color: #525975;
          margin-top: 20px;
          position: relative;
          cursor: pointer;
          div {
            position: absolute;
            width: 118px;
            height: 18px;
            top: 18px;
            left: -10px;
            -webkit-transform: scaleY(0);
            -ms-transform: scaleY(0);
            transform: scaleY(0);
            -webkit-transform-origin: bottom center;
            -ms-transform-origin: bottom center;
            transform-origin: bottom center;
            -webkit-transition: -webkit-transform .6s cubic-bezier(.77,0,.175,1);
            transition: transform .6s cubic-bezier(.77,0,.175,1);
          }
        }
        .list:hover {
          div {
            transform: scaleY(1);
          }
        }
        .list-1:hover {
          color: #37b876;
        }
        .list-2:hover {
          color: #009cda;
        }
        .list-3:hover {
          color: #4a90e2;
        }
        .list-4:hover {
          color: #43db7a;
        }
        .list-5:hover {
          color: #ffaa33;
        }
        .list-6:hover {
          color: #f942c9;
        }
        .list-1 {
          margin-top: 104px;
        }
        .list-1 {
          div {
            background-color: rgba(55, 184, 118, 0.2);
            transform: scaleY(1);
          }
        }
        .list-2 {
          div {
            background-color: rgba(0, 156, 218, 0.2);
          }
        }
        .list-3 {
          div {
            background-color: rgba(74, 144, 226, 0.2);
          }
        }
        .list-4 {
          div {
            background-color: rgba(67, 219, 122, 0.2);
          }
        }
        .list-5 {
          div {
            background-color: rgba(255, 170, 51, 0.2);
          }
        }
        .list-6 {
          div {
            background-color: rgba(249, 66, 201, 0.2);
          }
        }
      }
      .right {
        width: 720px;
        height: 540px;
        background-image: url("../assets/img/trust/clock@2x.jpg");
        background-size: 100% 100%;
        float: left;
        margin-left: -148px;
      }
    }
    .main-content-box-3 {
      width: 720px;
      height: 28px;
      float: right;
      background-color: rgba(74, 144, 226, 0.2);
    }
  }
}






















