<!-- index.html -->
{% extends "base.tmpl" %}

<!-- =================== -->
<!--    title block      -->
<!-- =================== -->
{% block title %} Chloe Du - Compass Trust Design{% endblock %}

<!-- =================== -->
<!--   styles block      -->
<!-- =================== -->
{% block styles %}

<!-- custom styles -->
<link href="./styles/base.css" rel="stylesheet">
<link href="./styles/about.css" rel="stylesheet"> 
{% endblock %}

<!-- =================== -->
<!--   scripts block     -->
<!-- =================== -->
{% block scripts %}
<!-- page scripts -->
<script src="./scripts/about.js"></script>
{% endblock %}

<!-- =================== -->
<!--     body block      -->
<!-- =================== -->
{% block content %}
<div class="forPassPage" style="display: block;float: left;position: relative;width: 100%;">
<div class="bg" align="center">
<!--   <div class="bg-inner">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div> -->
</div>
<div class="gray-background" id="about-background" align="center">
  <div class="menu-close-icon" id="menu-close-btn"></div>
  <div class="menu-list">
    <div><a href="./">Home</a></div>
    <div><a href="./about.html">About</a></div>
    <div><a href="./assets/img/resume/Resume.pdf">Resume</a></div>
  </div>
  <div class="icons">
    <a href="mailto:chloedjn@gmail.com">
      <div></div>
    </a>
    <a href="https://www.linkedin.com/in/chloedjn">
      <div></div>
    </a>
    <a href="https://dribbble.com/chloedjn">
      <div></div>
    </a>
    <a href="https://www.instagram.com/heiyanquanben/">
      <div></div>
    </a>
  </div>
</div>
<div class="menu-icon" id="menu-btn"></div>
<div class="main-background" align="center">
  <div class="main-content-container">
    <div class="main-content-box main-content-box-1">
      Hey, <br>
      nice to meet you.
    </div>
  </div>
</div>
<div class="main-content-01" align="center">
  <div class="main-content-container">
    <div class="main-content-box main-content-box-1">
      <div class="icon"></div>
      <div class="title">
        The Story
      </div>
      <div class="text">
        <div>
          I’m a product designer in the San Francisco Bay Area.
          <br><br>
          As a teenager I had a deep love for design and my ambition for crafting developed into an intense focus towards architecture and urban planning. I pursued my Bachelor’s degree in Engineering (Urban Planning) at the Beijing University of Technology, where I learned design philosophy, appreciated architecture, and planned for cities’ futures. In 2013, I came to the U.S. to study Urban Planning at the University of Southern California.
          <br><br>
          Ever curious to learn and explore new opportunities, I was helping with graphic design for commercial advertising, but quickly realized I was driven to design meaningful experiences for people rather than just focus on the visual craft. So… I’m here, find a balance between both, pursuing opportunities to contribute value from early UX to final pixels.
        </div>
      </div>
    </div>
    <div class="main-content-box main-content-box-2">
      <div class="icon"></div>
      <div class="title">
        Personal Experience
      </div>
      <div class="text">
        <div>
          Back in 2015, I was working at a startup incubator named ScienceLab. During that period, I helped early-stage startups and created over 10 products, including the  professional recruiting website “SpringRole”, personal training app “Handstand”, investment app “AngelWallet”, and many more. 
          <br><br>
          As an entrepreneur, I co-founded Tripalink, an online website for international students to buy or list used cars. As a co-founder and blogger, I operated a Wechat blog helping Chinese students with their driver’s licenses, vehicle purchases, vehicle maintenance, and auto news. At its peak, we received 10,000+ page views per article. As a designer and marketing team leader, it acted as a playground to learn and experiment with marketing strategies, SEO, and analytics.
        </div>
      </div>
    </div>
    <div class="main-content-box main-content-box-3">
      <div class="icon"></div>
      <div class="title">
        Thing I Love
      </div>
      <div class="text">
        <div>
          When I’m not working, I can be found watercolor painting, practicing my filming skills, scuba diving at Monterey Bay, enjoying new restaurants, and instructing junior Software Engineering students at Laioffer.com.
        </div>
      </div>
    </div>
    <div class="main-content-box main-content-box-4">
      <div class="icon"></div>
      <div class="title">
        Contact
      </div>
      <div class="text">
        <div>
          <a href="mailto:chloedjn@gmail.com">
            <span>Email.&nbsp</span>
          </a>
          <a href="https://www.linkedin.com/in/chloedjn">
            <span>Linkedin.&nbsp</span>
          </a>
          <a href="https://dribbble.com/chloedjn">
            <span>Dribbble.&nbsp</span>
          </a>
          <a href="https://www.instagram.com/heiyanquanben/">
            <span>Instagram.&nbsp</span>
          </a>
          <a href="./assets/img/resume/Resume.pdf">
            <span>Resume.</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}

























