<!-- index.html -->
{% extends "base.tmpl" %}

<!-- =================== -->
<!--    title block      -->
<!-- =================== -->
{% block title %} Chloe Du - Compass Trust Design{% endblock %}

<!-- =================== -->
<!--   styles block      -->
<!-- =================== -->
{% block styles %}

<!-- custom styles -->
<link href="./styles/base.css" rel="stylesheet">
<link href="./styles/about.css" rel="stylesheet"> 
{% endblock %}

<!-- =================== -->
<!--   scripts block     -->
<!-- =================== -->
{% block scripts %}
<!-- page scripts -->
<script src="./scripts/about.js"></script>
{% endblock %}

<!-- =================== -->
<!--     body block      -->
<!-- =================== -->
{% block content %}
<div class="gray-background" id="about-background" align="center">
  <div class="menu-close-icon" id="menu-close-btn"></div>
  <div class="menu-list">
    <div><a href="./">Home</a></div>
    <div><a href="./about.html">About</a></div>
    <div><a href="./assets/img/resume/Resume.pdf">Resume</a></div>
  </div>
  <div class="icons">
    <a href="mailto:chloedjn@gmail.com">
      <div></div>
    </a>
    <a href="https://www.linkedin.com/in/chloedjn">
      <div></div>
    </a>
    <a href="https://dribbble.com/chloedjn">
      <div></div>
    </a>
    <a href="https://www.instagram.com/heiyanquanben/">
      <div></div>
    </a>
  </div>
</div>
<div class="menu-icon" id="menu-btn"></div>
<div class="main-background" align="center">
  <div class="main-content-container">
    <div class="main-content-box main-content-box-1">
      Hey, <br>
      nice to meet you.
    </div>
  </div>
</div>
{% endblock %}

























