<!-- index.html -->
{% extends "base.tmpl" %}

<!-- =================== -->
<!--    title block      -->
<!-- =================== -->
{% block title %}
Admission
{% endblock %}

<!-- =================== -->
<!--   styles block      -->
<!-- =================== -->
{% block styles %}
<!-- custom styles -->
<link href="./styles/banner.css" rel="stylesheet">
<link href="./styles/marketing.css" rel="stylesheet">
<link href="./styles/admission.css" rel="stylesheet">
<link href="./styles/apply-now.css" rel="stylesheet">
{% endblock %}

<!-- =================== -->
<!--   scripts block     -->
<!-- =================== -->
{% block scripts %}
<!-- page scripts -->
<script src="./scripts/admission.js"></script>
{% endblock %}

<!-- =================== -->
<!--     body block      -->
<!-- =================== -->
{% block content %}
<!-- navigation partial -->
{% include "partials/navigation.tmpl" %}

<!-- Start Banner -->
<div class="jumbotron banner">
  <div class="container">
    <h1>{{slogan}}</h1>
    <a href="mailto:info@itac.io">
      <button type="button" class="btn btn-primary btn-lg">Contact Us</button>
    </a>
  </div>
</div>
<!-- End Baner -->
<div class="container marketing">
  <!-- Start Application Part -->
  <div class="twelve columns">
    <div class="applicationBox">
      <ul class="dashed-features">
        <li class="dashed-features-item">
          <div class="copy-icon copy-icon-first">
            <!-- <img src="https://static.teamtreehouse.com/assets/views/landings/dotted-1-f1d22d04fc91a29244f600ca2dbc2960.png" alt="Dotted 1"> -->
            <img src="./assets/img/admission/dash1.png">
          </div>
          <div class="dashed-features-item-copy">
            <h2 class="text-4-xs">Apply</h2>
            <p>
              Submit your resume with your contact info to <a href="mailto:info@itac.io">info@itac.io</a>
            </p>
          </div>
        </li>
        <li class="dashed-features-item">
          <div class="copy-icon copy-icon-second">
            <!-- <img src="https://static.teamtreehouse.com/assets/views/landings/dotted-2-824a3982c0d1981eb361ce2ac2f02922.png" alt="Dotted 2"> -->
            <img src="./assets/img/admission/dash2.png">
          </div>
          <div class="dashed-features-item-copy dashed-features-item-copy-second">
            <h2 class="text-4-xs">Phone Consultation</h2>
            <p>
              This free consultation includes:
              <ul class="admission_li">
                <li>1:1 conversation with an IT Academy Mentor</li>
                <li>Detailed introduction/overview of the program</li>
                <li>In-depth review of the candidate’s background</li>
              </ul>
            </p>
          </div>
        </li>
        <li class="dashed-features-item">
          <div class="copy-icon copy-icon-third"></div>
          <div class="dashed-features-item-copy dashed-features-item-copy-third">
            <h2 class="text-4-xs">Application Review</h2>
            <p>
              Our Admission Committee will review your application, and if approved you will be able to attend the first class for no charge (full tuition is due before the start of the second class)
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <!-- End Application Part -->
</div>
<!-- footer partial -->
{% include "partials/footer.tmpl" %}
{% endblock %}
