<!-- index.html -->
{% extends "base.tmpl" %}

<!-- =================== -->
<!--    title block      -->
<!-- =================== -->
{% block title %} Information Technology Academy {% endblock %}

<!-- =================== -->
<!--   styles block      -->
<!-- =================== -->
{% block styles %}
<!-- slick styles -->
<link href="../node_modules/slick-carousel/slick/slick-theme.css" rel="stylesheet">
<!-- revolution slider -->
<link href="../libs/revolution/css/settings.css" rel="stylesheet">
<link href="../libs/revolution/css/layers.css" rel="stylesheet">
<!-- revolution slider navigation -->
<link href="../libs/revolution/css/navigation.css" rel="stylesheet">
<!-- custom styles -->
<link href="./styles/carousel.css" rel="stylesheet">
<link href="./styles/marketing.css" rel="stylesheet">
<link href="./styles/courses.css" rel="stylesheet">
<link href="./styles/testimonial.css" rel="stylesheet">
<link href="./styles/index.css" rel="stylesheet"> {% endblock %}

<!-- =================== -->
<!--   scripts block     -->
<!-- =================== -->
{% block scripts %}
<!-- slick.js -->
<script src="../node_modules/slick-carousel/slick/slick.js"></script>
<!-- Slider Revolution JS -->
<script src="../libs/revolution/js/jquery.themepunch.tools.min.js"></script>
<script src="../libs/revolution/js/jquery.themepunch.revolution.min.js"></script>

<!-- Slider Revolution Extensions (Load Extensions only on Local File Systems The following part can be removed on Server for On Demand Loading) -->
<script src="../libs/revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script src="../libs/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
<script src="../libs/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
<script src="../libs/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script src="../libs/revolution/js/extensions/revolution.extension.migration.min.js"></script>
<script src="../libs/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script src="../libs/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
<script src="../libs/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script src="../libs/revolution/js/extensions/revolution.extension.video.min.js"></script>
<!-- page scripts -->
<script src="./scripts/index.js"></script>
{% endblock %}

<!-- =================== -->
<!--     body block      -->
<!-- =================== -->
{% block content %}
<!-- navigation partial -->
{% include "partials/navigation.tmpl" %}

<!-- START REVOLUTION SLIDER 5.0 -->
<div class="rev_slider_wrapper">
  <div id="slider1" class="rev_slider" data-version="5.0">
    <ul>
      <li 
        data-easein="default"
        data-easeout="default" 
        data-masterspeed="default" 
        data-transition="fade"
      >
        <!-- MAIN IMAGE -->
        <img src="./assets/img/index/index-hero.jpg" alt="" width="2000" height="812" style="background-color:#000;">
        <!-- LAYER NR. 1 -->
        <div class="tp-caption News-Title" 
          data-x="center" 
          data-hoffset="0" 
          data-y="middle" 
          data-voffset="0" 
          data-whitespace="nowrap"
          data-speed="600"
          data-start="1200"
          data-end="9400"
          data-endspeed="600"
          data-transform_idle="o:1;"
          data-transform_in="y:30px;opacity:0;s:700;e:Power3.easeOut;"
          data-transform_out="y:30px;opacity:0;s:500;e:Power2.easeInOut;"
        >
          {{heroTitle1}}
        </div>
      </li>

      <li
        data-delay="11000"
        data-easein="default"
        data-easeout="default" 
        data-masterspeed="default" 
        data-transition="fade"
      >
        <div class="rs-background-video-layer" data-forcerewind="on" data-volume="mute" data-forcerewind="on" data-volume="mute" data-videowidth="100%" data-videoheight="100%" data-videomp4="./assets/videos/Working-Space.mp4" data-videopreload="preload" data-videoloop="loopandnoslidestop"
         data-forceCover="1" data-aspectratio="16:9" data-autoplay="true" data-autoplayonlyfirsttime="false" data-nextslideatend="true"></div>
         <!-- LAYER NR. 1 -->
        <div class="tp-caption News-Title" 
          data-x="center" 
          data-hoffset="0" 
          data-y="middle" 
          data-voffset="0" 
          data-whitespace="nowrap"
          data-transform_idle="o:1;"
          data-transform_in="sX:0.9;sY:0.9;opacity:0;s:1500;e:Back.easeOut;" 
          data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
          data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" 
          data-start="1000"
        >
          {{heroTitle2}}
        </div>
      </li>
    </ul>
  </div>
  <!-- END REVOLUTION SLIDER -->
</div>
<!-- END OF SLIDER WRAPPER -->

<div class="container marketing">
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">{{about.title}}</h2>
      {% for paragraph in about.content %}
      <p class="lead">{{paragraph}}</p>
      {% endfor %}
    </div>
    <div id="intro-video" class="col-md-5">
      <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image" src="./assets/img/index/section-1.jpg">
    </div>
  </div>
  <hr class="featurette-divider">
</div>
<!-- /.marketing -->

<!-- /END THE FEATURETTES -->

<!-- Start latest course section -->
<section id="mu-latest-courses">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="mu-latest-courses-area">
          <!-- Start Title -->
          <div class="mu-title">
            <h2>Course Offering</h2>
            <p></p>
          </div>
          <!-- End Title -->
          <!-- Start latest course content -->
          {% for course in courseOffering %}
          <div class="col-lg-4 col-md-4 col-xs-12 course-offering-cell">
            <div class="mu-latest-course-single wow zoomIn">
              <figure class="mu-latest-course-img">
                <div>
                  <img src="./assets/img/courses/{{course.image}}" alt="img">
                </div>
                <figcaption class="mu-latest-course-imgcaption course{{loop.index}}">
                  <span><i class="fa fa-clock-o"></i>{{course.time}}</span>
                </figcaption>
              </figure>
              <div class="mu-latest-course-single-content course{{loop.index}}">
                <h4>{{course.title}}</h4>
                <p>{{course.details}}</p>
                <div class="mu-latest-course-single-contbottom">
                  <span class="mu-course-price" href="#">{{course.price}}</span>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <!-- End latest course content -->
      </div>
    </div>
  </div>
  </div>
</section>
<!-- End latest course section -->

<div class="container marketing">
  <hr class="featurette-divider">
</div>

<!-- Start testimonial -->

<!-- End testimonial -->

<div class="container marketing">
  <hr class="featurette-divider">

  <section id="mu-testimonial">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-testimonial-area">
            <div id="mu-testimonial-slide" class="mu-testimonial-content">
              <!-- Loops through "testimonials" array -->
              {% for testimonial in testimonials %}
              <!-- start testimonial single item -->
              <div class="mu-testimonial-item">
                <div class="mu-testimonial-quote">
                  <blockquote>
                    <p>{{testimonial.quote}}</p>
                  </blockquote>
                </div>
                <div class="mu-testimonial-img">
                  <img src="{{testimonial.photo}}" alt="img">
                </div>
                <div class="mu-testimonial-info">
                  <h4>{{testimonial.name}}</h4>
                  <span>{{testimonial.details}}</span>
                </div>
              </div>
              <!-- end testimonial single item -->
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="container marketing teachers">
  <hr class="featurette-divider">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    {% for instructor in instructors %}
    <div class="col-md-3">
      <img class="img-circle" src="{{instructor.photo}}" alt="Generic placeholder image" width="140" height="140">
      <h2>{{instructor.name}}</h2>
      <p>{{instructor.intro}}</p>
    </div>
    {% endfor %}
    <!-- /.col-lg-4 -->
    <div class="col-md-12 col-learn-more">
      <a href="about.html#team">
        <button type="button" class="btn btn-primary">Learn More</button>
      </a>
    </div>
  </div>
  <!-- /.row -->

  <hr class="featurette-divider">
</div>

{% include "partials/video-modal.tmpl" %}

<!-- footer partial -->
{% include "partials/footer.tmpl" %} {% endblock %}
