<!-- index.html -->
{% extends "base.tmpl" %}

<!-- =================== -->
<!--    title block      -->
<!-- =================== -->
{% block title %} Chloe Du {% endblock %}

<!-- =================== -->
<!--   styles block      -->
<!-- =================== -->
{% block styles %}

<!-- custom styles -->
<link href="./styles/index.css" rel="stylesheet"> 
{% endblock %}

<!-- =================== -->
<!--   scripts block     -->
<!-- =================== -->
{% block scripts %}
<!-- page scripts -->
<script src="./scripts/landingPage.js"></script>
{% endblock %}

<!-- =================== -->
<!--     body block      -->
<!-- =================== -->
{% block content %}
<div class="index-container">
  <div class="index-left-content">
    <img src="./assets/img/landingPage/logo.png" width="43" height="32">
    <div class="landingPage-navBar">
      <div class="navBarClass">
        <a href="./assets/img/resume/Resume.pdf">
          Resume
        </a>
      </div>
      <div class="navBarClass">
        <a href="./about.html">
          About
        </a>
      </div>
<!--       <div class="navBarClass">
        Play
      </div> -->
      <div class="navBarClass">
        Home
      </div>
    </div>
  </div>
  <div class="index-right-content" align="center">
    <div class="index-right-main-box">
      <div class="main-title">
        Hello, I'm Chloe Du.
      </div>
      <div class="sub-title">
        Product Designer, Urban Planner, Dreamer.
      </div>
      <div class="main-box main-box-1 box-1">
        <a href="./trust.html">
          <div class="mask mask-1"></div>
          <div class="mask-text text-1">
            Being in the know<br>
            with Zscaler Trust<br>
            <span>Website UI/UX Design, Data Visualization</span>
          </div>
        </a>
      </div>
      <div class="main-box box-2">
        <a href="./zscalerApp.html">
          <div class="mask mask-right mask-2"></div>
          <div class="mask-text-2 text-2">
            Activate an Invisible Safeguard<br>
            with Zscaler App<br>
            <span>Mobile App UX Design</span>
          </div>
        </a>
      </div>
      <div class="main-box main-box-1 box-3">
        <a href="./tripalink.html">
          <div class="mask mask-3"></div>
          <div class="mask-text text-3">
            Date Your Dreamed Car<br> 
            with Tripalink<br>
            <span>Website UI/UX Design</span>
          </div>
        </a>
      </div>
      <div class="main-box box-4">
        <a href="./springRole.html">
          <div class="mask mask-right mask-4"></div>
          <div class="mask-text-2 text-4">
            Help Your Friends Get<br>
            Hired with SpringRole<br>
            <span>MOBILE APP UX DESIGN</span>
          </div>
        </a>
      </div>
      <div class="main-box main-box-1 box-5">
        <a href="./compass.html">
          <div class="mask mask-5"></div>
          <div class="mask-text text-5">
            Boost Your Career with<br>
            Compass Conference 2018<br>
            <span>branding</span>
          </div>
        </a>
      </div>
      <div class="main-box main-box-1 box-6">
        <a href="../prizeCandle.html">
          <div class="mask mask-right mask-6"></div>
          <div class="mask-text-2 text-6">
            Present Surprises with<br>
            Prize Candle<br>
            <span>MARKETING DESIGN</span>
          </div>
        </a>
      </div>
      <div class="footer" align="center">
        &copy;Chloe Du. 2017. Product Design Portfolio 
      </div>
    </div>
  </div>
</div>
{% endblock %}
