<!-- index.html -->
{% extends "base.tmpl" %}

<!-- =================== -->
<!--    title block      -->
<!-- =================== -->
{% block title %} Chloe Du - Tripalink Design{% endblock %}

<!-- =================== -->
<!--   styles block      -->
<!-- =================== -->
{% block styles %}

<!-- custom styles -->
<link href="./styles/tripalink.css" rel="stylesheet">
<link href="./styles/base.css" rel="stylesheet">
<link href="./styles/laioffer.css" rel="stylesheet"> 
{% endblock %}

<!-- =================== -->
<!--   scripts block     -->
<!-- =================== -->
{% block scripts %}
<!-- page scripts -->
<script src="./scripts/landingPage.js"></script>
{% endblock %}

<!-- =================== -->
<!--     body block      -->
<!-- =================== -->
{% block content %}
<section class="navBarSection">
  <nav>
    <div class="container">
      <a href="landingPage.html">
        <div class="icon-navbar"></div>
        <div class="navbar-title">
          Chloe Du
        </div>
      </a>
      <div class="navbar-subtitle">
        Design makes anything possible.
      </div>
      <div class="nav-arrow-container">
        <a href="tripalink.html">
          <i class="fa fa-angle-left" aria-hidden="true"></i>
        </a>
        <i class="fa fa-angle-right" aria-hidden="true"></i>
      </div>
    </div>
  </nav>
</section>
<div class="col-xs-12 all-to-none" align="center">
  <div class="banner tripalinkBanner">
    <div class="tripalinkBannerText"></div>
  </div>
  <div class="container container-position">
    <div class="tripalink-line">
    </div>
  </div>
  
  <div class="tripalink-content-0">
    <div class="container container-position">
      <div class="tripalink-content-text-0">
      </div>
    </div>
  </div>
    <div class="tripalink-content-3"></div>
<!--   <div class="container container-position">
    <div class="tripalink-content-1 tripalink-content">
    </div>
  </div> -->
  <!-- <div class="tripalink-content-2">
    <div class="tripalink-content-text-2"></div>
  </div>
  <div class="tripalink-content-3"></div>
  <div class="tripalink-content-4"></div>
  <div class="container container-position">
    <div class="tripalink-content-5"></div>
  </div>
  <div class="temp_box">
    <div class="tripalink-content-6"></div>
  </div>
  <div class="tripalink-content-7-box">
    <div class="tripalink-content-7"></div>
  </div>
  <div class="tripalink-content-8"></div> -->

</div>
<div class="col-xs-12 all-to-none page-footer" align="center">
  <a href="http://www.laioffer.com/en">
    <div class="footer-btn tripalink-footer-btn">
      View Alive
    </div>
  </a>
  <div class="footer-btn-text">
    Thank you for reading
  </div>
  <div class="footer-divider"></div>
  <div class="footer-img">
    <div class="foot-img-master">Peer Review</div>
  </div>
  <!-- footer partial -->
  <div class="container footer-container" align="center">
    <div class="footer-nav">
      <div class="footer-nav-1">
        <a href="mailto:chloedjn@gmail.com">
          Chloedjn@gmail.com
        </a>
      </div>
      <div class="footer-nav-2">
        <a href="tel:+13236205876">
          323.620.5876
        </a>
      </div>
      <div class="footer-nav-3">
        <a href="">
          View my resume
        </a>
      </div>
    </div>
    <div class="footer-social">
      <i class="icon-linkedin"></i>
      <i class="fa fa-dribbble" aria-hidden="true"></i>
      <i class="fa fa-behance" aria-hidden="true"></i>
      <i class="fa fa-instagram" aria-hidden="true"></i>
    </div>
    <div class="foot-copyright">
      &#x24B8; 2016 Chloe Du
    </div>
  </div>
</div>
{% endblock %}