<!-- index.html -->
{% extends "base.tmpl" %}

<!-- =================== -->
<!--    title block      -->
<!-- =================== -->
{% block title %} Chloe Du {% endblock %}

<!-- =================== -->
<!--   styles block      -->
<!-- =================== -->
{% block styles %}

<!-- custom styles -->
<link href="./styles/landingPage.css" rel="stylesheet">
<link href="./styles/base.css" rel="stylesheet"> 
{% endblock %}

<!-- =================== -->
<!--   scripts block     -->
<!-- =================== -->
{% block scripts %}
<!-- page scripts -->
<script src="./scripts/landingPage.js"></script>
{% endblock %}

<!-- =================== -->
<!--     body block      -->
<!-- =================== -->

{% block content %}
<div class="col-xs-12" align="center">
  <div class="landing-title">
    <div class="landing-title-img"></div>
    <span>Chloe Du</span>
  </div>
  <div class="landing-subtitle">
    Design makes anything possible.
  </div>
  <div class="landing-container">
    <div class="landing-title-divider"></div>
    <div class="landing-nav-bar">
      <a href=""><span>UI/UX</span></a>
      <a href=""><span>URBAN DESIGN</span></a>
      <a href=""><span>ABOUT</span></a>
    </div>
    <div class="card-row">
      <a href="tripalink.html">
        <div class="card card-0">
          <div class="card-mask">
            <div class="card-mask-text">
              <span>TRIPALINK</span>
              <div class="card-mask-divider"></div>
              <div class="card-mask-subtitle">
                Website Design & Branding
              </div>
            </div>
          </div>
        </div>
      </a>
      <a href="laioffer.html">
        <div class="card card-1">
          <div class="card-mask">
            <div class="card-mask-text">
              <span>LAIOFFER</span>
              <div class="card-mask-divider"></div>
              <div class="card-mask-subtitle">
                Website Design & Branding
              </div>
            </div>
          </div>
        </div>
      </a>
      <div class="card card-2">
        <div class="card-mask">
          <div class="card-mask-text">
            <span>HANDSTAND</span>
            <div class="card-mask-divider"></div>
            <div class="card-mask-subtitle">
              Mobile App Design
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-row row-1">
      <div class="card card-3">
        <div class="card-mask">
          <div class="card-mask-text">
            <span>SPRINGROLE</span>
            <div class="card-mask-divider"></div>
            <div class="card-mask-subtitle">
              Website Design
            </div>
          </div>
        </div>
      </div>
      <div class="card card-4">
        <div class="card-mask">
          <div class="card-mask-text">
            <span>YOUTUBE</span>
            <div class="card-mask-divider"></div>
            <div class="card-mask-subtitle">
              Website Redesign
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-row row-1">
      <div class="card card-5">
        <div class="card-mask">
          <div class="card-mask-text">
            <span>PROS</span>
            <div class="card-mask-divider"></div>
            <div class="card-mask-subtitle">
              Mobile App Design
            </div>
          </div>
        </div>
      </div>
      <div class="card card-6">
        <div class="card-mask">
          <div class="card-mask-text">
            <span>HANDSTAND</span>
            <div class="card-mask-divider"></div>
            <div class="card-mask-subtitle">
              Website Responsive Design
            </div>
          </div>
        </div>
      </div>
      <div class="card card-7">
        <div class="card-mask">
          <div class="card-mask-text">
            <span>ANGLEWALLET</span>
            <div class="card-mask-divider"></div>
            <div class="card-mask-subtitle">
              Mobile Redesign
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- footer partial -->
<footer class="footer" align="center">
  <div class="container footer-container" align="center">
    <div class="footer-nav">
      <div class="footer-nav-1">
        <a href="mailto:chloedjn@gmail.com">
          Chloedjn@gmail.com
        </a>
      </div>
      <div class="footer-nav-2">
        <a href="tel:+13236205876">
          323.620.5876
        </a>
      </div>
      <div class="footer-nav-3">
        <a href="">
          View my resume
        </a>
      </div>
    </div>
    <div class="footer-social">
      <i class="icon-linkedin"></i>
      <i class="fa fa-dribbble" aria-hidden="true"></i>
      <i class="fa fa-behance" aria-hidden="true"></i>
      <i class="fa fa-instagram" aria-hidden="true"></i>
    </div>
    <div class="foot-copyright">
      &#x24B8; 2016 Chloe Du
    </div>
  </div>
</footer>
{% endblock %}























