<!-- privacy.html -->
{% extends "base.tmpl" %}

<!-- =================== -->
<!--    title block      -->
<!-- =================== -->
{% block title %}
Privacy
{% endblock %}

<!-- =================== -->
<!--   styles block      -->
<!-- =================== -->
{% block styles %}
<!-- custom styles -->
<link href="./styles/banner.css" rel="stylesheet">
<link href="./styles/marketing.css" rel="stylesheet">
<link href="./styles/feature.css" rel="stylesheet">
<link href="./styles/privacy.css" rel="stylesheet">
{% endblock %}

<!-- =================== -->
<!--   scripts block     -->
<!-- =================== -->
{% block scripts %}
<!-- page scripts -->
<script src="./scripts/privacy.js"></script>
{% endblock %}

<!-- =================== -->
<!--     body block      -->
<!-- =================== -->
{% block content %}
<!-- navigation partial -->
{% include "partials/navigation.tmpl" %}

<div class="container">
  <!-- TODO: add content here -->
  {% include "partials/page-under-construction.tmpl" %}
</div>

<!-- footer partial -->
{% include "partials/footer.tmpl" %}
{% endblock %}
