<!-- index.html -->
{% extends "base.tmpl" %}

<!-- =================== -->
<!--    title block      -->
<!-- =================== -->
{% block title %} Chloe Du - SpringRole Design{% endblock %}

<!-- =================== -->
<!--   styles block      -->
<!-- =================== -->
{% block styles %}

<!-- custom styles -->
<link href="./styles/base.css" rel="stylesheet">
<link href="./styles/springRole.css" rel="stylesheet"> 
<link href="./styles/slides.css" rel="stylesheet">
 
<script src="./scripts/swiper.min.js"></script>
{% endblock %}

<!-- =================== -->
<!--   scripts block     -->
<!-- =================== -->
{% block scripts %}
<!-- page scripts -->
<script src="./scripts/springRole.js"></script>
{% endblock %}

<!-- =================== -->
<!--     body block      -->
<!-- =================== -->
{% block content %}
<!-- <div class="passwordPage" id="pass_index">
  <div class="iconLogo"></div>
  <div class="passwordContainer" align="center">
    <div class="passwordBox">
      <div>
        Hey, nice to meet you.
      </div>
      <div>
        I’m Chloe Du, a product designer based in the SF Bay Area. Please enter the password I’ve provided for you.
      </div>
      <input class="inputBox" placeholder="password" type="password" id="userPassword">
      <div class="errorMsg">The password is invalid. Please try again.</div>
      <div class="passwordSubmit" id="passwordSubmit">Let's go</div>
    </div>
  </div>
</div>
<div class="forPassPage"> -->
<div class="gray-background" id="about-background" align="center">
  <div class="menu-close-icon" id="menu-close-btn"></div>
  <div class="menu-list">
    <div><a href="./">Home</a></div>
    <div><a href="./about.html">About</a></div>
    <div><a href="./assets/img/resume/Resume.pdf">Resume</a></div>
  </div>
  <div class="icons">
    <a href="mailto:chloedjn@gmail.com">
      <div></div>
    </a>
    <a href="https://www.linkedin.com/in/chloedjn">
      <div></div>
    </a>
    <a href="https://dribbble.com/chloedjn">
      <div></div>
    </a>
    <a href="https://www.instagram.com/heiyanquanben/">
      <div></div>
    </a>
  </div>
</div>
<div class="menu-icon" id="menu-btn"></div>
<div class="main-background" align="center">
  <div class="main-left-background"></div>
  <div class="main-right-background"></div>
  <div class="main-background-middle">
    <div class="main-background-middle-left">
      <div class="main-background-text-1">
        Stop Wasting Hours on Sourcing
      </div>
      <div class="main-background-text-2">
        Help Your Friends Get 
        <br>
        Hired with SpringRole
      </div>
      <div class="main-background-text-3">
        My Role:  Concept, Product Design, Branding, Illustration, Usability<br> 
        Testing
        <br>Time:  Sep - Nov, 2015
      </div>
    </div>
    <div class="main-background-middle-right">
      <div></div>
    </div>
  </div>
</div>
<div class="main-content-01" align="center">
  <div class="background">
    <div class="left"></div>
    <div class="right"></div>
  </div>
  <div class="main-content-container">
    <div class="main-content-box main-content-box-1">
      <div class="left">
        <div>01</div>
        <div>INTRODUCTION</div>
      </div>
      <div class="right">
        <div>
          The Client
        </div>
        <div>
          SpringRole is a recruiting platform powered by Machine Learning and Natural Language Technology. They use their database of 45M candidates and their suite of tools to help companies to find their next hire faster and cheaper than ever before. They have a new idea in mind, but they got stuck in the ideation phase. I jumped at the chance and helped them to create the product from start to finish.
        </div>
      </div>
    </div>
  </div>
</div>
<div class="main-content-02" align="center">
  <div class="main-content-container">
    <div class="main-content-box main-content-box-1">
      <div>
        The Problem
      </div>
      <div>
        From some researches and data we have collected and analyzed, we found that there is something really interesting.
      </div>
    </div>
  </div>
</div>
<div class="main-content-03" align="center">
  <div class="main-content-container">
    <div class="main-content-box main-content-box-1">
    </div>
    <div class="main-content-box main-content-box-2">
    </div>
    <div class="main-content-box main-content-box-3">
    </div>
  </div>
</div>
<div class="main-content-04" align="center">
  <div class="background"></div>
  <div class="main-content-container">
    <div class="main-content-box main-content-box-1">
    </div>
  </div>
</div>
<div class="main-content-05" align="center">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="ss1" id="s1"></div>
      </div>
      <div class="swiper-slide">
        <div class="ss2" id="s2"></div>
      </div>
      <div class="swiper-slide">
        <div class="ss3" id="s3"></div>
      </div>
      <div class="swiper-slide">
        <div class="ss4" id="s4"></div>
      </div>
      <div class="swiper-slide">
        <div class="ss5" id="s5"></div>
      </div>
      <div class="swiper-slide">
        <div class="ss6" id="s6"></div>
      </div>
    </div>
  </div>
  <div class="main-content-container">
    <div class="main-content-box main-content-box-1">
    </div>
    <div class="main-content-box main-content-box-2">
      Get there
    </div>
    <div class="main-content-box main-content-box-3">
    </div>
    <div class="main-content-box main-content-box-4">
    </div>
    <div class="main-content-box main-content-box-5">
    </div>
  </div>
</div>
<div class="main-content-19 align="center">
    <div class="main-content-container">
      <div class="main-content-box main-content-box-1">
      </div>
      <div class="main-content-box main-content-box-2">
        <div class="left">
          <div class="title">
            WORK
          </div>
          <a href="./designAtZscaler.html">
            <div class="list list-1">
              Zscaler Projects
              <div></div>
            </div>
          </a>
          <a href="./trust.html">
            <div class="list list-2">
              Zscaler Trust
              <div></div>
            </div>
          </a>
          <a href="./zscalerApp.html">
            <div class="list list-3">
              Zscaler App
              <div></div>
            </div>
          </a>
          <a href="./tripalink.html">
            <div class="list list-4">
              Tripalink
              <div></div>
            </div>
          </a>
          <a href="./springRole.html">
            <div class="list list-5">
              SpringRole
              <div></div>
            </div>
          </a>
          <a href="./compass.html">
            <div class="list list-6">
              Compass2018
              <div></div>
            </div>
          </a>
          <a href="./prizeCandle.html">
            <div class="list list-7">
              Prize Candle
              <div></div>
            </div>
          </a>
        </div>
        <div class="right">
          <div id="scrollImg"></div>
        </div>
      </div>
      <div class="main-content-box main-content-box-3">
      </div>
    </div>
</div>
<!-- </div> -->
{% endblock %}

























