<!-- privacy.html -->
{% extends "base.tmpl" %}

<!-- =================== -->
<!--    title block      -->
<!-- =================== -->
{% block title %}
Student Success Stories
{% endblock %}

<!-- =================== -->
<!--   styles block      -->
<!-- =================== -->
{% block styles %}
<!-- custom styles -->
<link href="./styles/banner.css" rel="stylesheet">
<link href="./styles/marketing.css" rel="stylesheet">
<link href="./styles/feature.css" rel="stylesheet">
<link href="./styles/stories.css" rel="stylesheet">
{% endblock %}

<!-- =================== -->
<!--   scripts block     -->
<!-- =================== -->
{% block scripts %}
<!-- page scripts -->
<script src="./scripts/stories.js"></script>
{% endblock %}

<!-- =================== -->
<!--     body block      -->
<!-- =================== -->
{% block content %}
<!-- navigation partial -->
{% include "partials/navigation.tmpl" %}

<!-- Start Banner -->
<div class="jumbotron banner">
  <div class="container">
    <h1>{{slogan}}</h1>
  </div>
</div>
<!-- End Baner -->

<a name="story1"></a>
<div class="container marketing">
  <!-- Story 1 Intro -->
  <div class="page-header">
    <p class="lead">{{story1.intro}}</p>
  </div>
  <!-- End Story 1 Intro -->

  <div class="row featurette">
    <div class="col-md-12">
      <h2 class="featurette-heading">{{story1.student.name}}</h2>
      <blockquote>
        <p>{{story1.quote1}}</p>
      </blockquote>
      {% for paragraph in story1.content %}
      <p class="lead">{{paragraph}}</p>
      {% endfor %}
    </div>
  </div>

  <a name="story2"></a>
  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-12">
      <h2 class="featurette-heading">{{story2.student.name}}</h2>
      <blockquote>
        <p>{{story2.quote1}}</p>
      </blockquote>
      {% for paragraph in story2.content %}
      <p class="lead">{{paragraph}}</p>
      {% endfor %}
    </div>
  </div>

  <hr class="featurette-divider">
</div><!-- /.marketing -->

<!-- footer partial -->
{% include "partials/footer.tmpl" %}
{% endblock %}
