<!-- index.html -->
{% extends "base.tmpl" %}

<!-- =================== -->
<!--    title block      -->
<!-- =================== -->
{% block title %} Chloe Du - Zscaler Trust Design{% endblock %}

<!-- =================== -->
<!--   styles block      -->
<!-- =================== -->
{% block styles %}

<!-- custom styles -->
<link href="./styles/base.css" rel="stylesheet">
<link href="./styles/trust.css" rel="stylesheet"> 
{% endblock %}

<!-- =================== -->
<!--   scripts block     -->
<!-- =================== -->
{% block scripts %}
<!-- page scripts -->
<script src="./scripts/trust.js"></script>
{% endblock %}

<!-- =================== -->
<!--     body block      -->
<!-- =================== -->
{% block content %}
<div class="gray-background" id="about-background" align="center">
  <div class="menu-close-icon" id="menu-close-btn"></div>
  <div class="menu-list">
    <div><a href="./">Home</a></div>
    <div><a href="./about.html">About</a></div>
    <div><a href="./assets/img/resume/Resume.pdf">Resume</a></div>
  </div>
  <div class="icons">
    <a href="mailto:chloedjn@gmail.com">
      <div></div>
    </a>
    <a href="https://www.linkedin.com/in/chloedjn">
      <div></div>
    </a>
    <a href="https://dribbble.com/chloedjn">
      <div></div>
    </a>
    <a href="https://www.instagram.com/heiyanquanben/">
      <div></div>
    </a>
  </div>
</div>
<div class="menu-icon" id="menu-btn"></div>
<div class="main-background" align="center">
  <div class="main-left-background"></div>
  <div class="main-right-background"></div>
  <div class="main-background-middle">
    <div class="main-background-middle-left">
      <div class="main-background-text-1">
        Accessible, transparent, confident
      </div>
      <div class="main-background-text-2">
        Build Zscaler Trust
      </div>
      <div class="main-background-text-3">
        Time: October 2017
      </div>
    </div>
    <div class="main-background-middle-right">
      <div class="bottom-image">
        <div class="phone-image"></div>
      </div>
    </div>
  </div>
</div>
<div class="main-content-01" align="center">
  <div class="main-content-container">
    <div class="main-content-box main-content-box-1">
      <div class="left">
      </div>
      <div class="right">
        <div>
          Is Zscaler down
        </div>
        <div>
          Experiencing service outages is annoying. For users, they're frustrating. For IT supporters, they can mean missed opportunities. And for enterprises, they can have serious effects on products and revenue. Zscaler Trust is the home for real-time information on system performance. 
          <br><br>
          The current Zscaler Trust web presence was stuck in the dark ages.  It had a very outdated look and feel, along with broken functions. Working with the marketing team, I redesigned the whole website from the ground up to make it beautiful and functional.
        </div>
      </div>
    </div>
  </div>
</div>
<div class="main-content-02" align="center">
  <div class="background"></div>
  <div class="main-content-container">
    <div class="main-content-box main-content-box-1">
      <div>
        01 Background
      </div>
      <div>
        Time to say goodbye
      </div>
      <div>
        Our current Trust website was developed and launched in 2008. Ten years later, it can no longer undergo the heavy traffic and requests. It’s time to refresh it.
      </div>
    </div>
    <div class="main-content-box main-content-box-2"></div>
  </div>
</div>
<div class="main-content-03" align="center">
  <div class="main-content-container">
    <div class="main-content-box main-content-box-1">
      <div>
        Get Started
      </div>
      <div>
        First, we needed to determine where to focus our efforts. 
        <br><br>
        We looked at customer care feedback and tickets from the support team. We ran user studies to learn what features were most appealing and what was confusing. We conducted usability testing with our IT engineers to figure out what was most important to them and what they wanted to see improved.
        <br><br>
        We synthesized our findings and weren’t surprised to see many concerns consistently repeated. Here’s a summary of them:
      </div>
    </div>
    <div class="main-content-box main-content-box-2"></div>
    <div class="main-content-box main-content-box-3"></div>
    <div class="main-content-box main-content-box-4">
      02 Improving the Wheel
    </div>
  </div>
</div>
<div class="main-content-04">
  <div class="background"></div>
  <div class="main-content-container">
    <div class="main-content-box main-content-box-1"></div>
  </div>
</div>
<div class="main-content-05" align="center">
  <div class="main-content-container">
    <div class="main-content-box main-content-box-1">
      <div>Job Stories</div>
      <div>
        I read an article a while back about job stories being a much more effective way of identifying features. Listing the job stories helped me to step into Brandon’s shoes to identify his motivators, instead of specific features.
      </div>
      <div></div>
    </div>
    <div class="main-content-box main-content-box-2">
    </div>
    <div class="main-content-box main-content-box-3">
      <div>Explore</div>
      <div>
        With the insights from research and brainstorming exercises, I took the first step to explore ways to meet the needs and structure the website. Here are two options that we considered:
      </div>
    </div>
    <div class="main-content-box main-content-box-4">
      <div></div>
      <div></div>
    </div>
    <div class="main-content-box main-content-box-5">
      If a user was to use Zscaler’s Trust portal, that is a clear indication that they were aware of what they were looking at. What they need is an intuitive hierarchy that they navigate to find the information, with the system presenting the information in an appealing manner, as well as providing advanced assistance.
      <br><br>
      After reviewing the content with the PM and validating our data availability with the engineering team, we chose option B as our outline of the website structure.
    </div>
    <div class="main-content-box main-content-box-6">
      <div>Clarifying the Architecture</div>
      <div>Besides the information categories, we have some universal actions that users may take, like acquiring further support from Support or adding RSS feeds. I decided to adopt two lines of navigation to separate the functionalities. The top menu is one of universal navigation, working as a toolbar with actions. The second line lists the information categories in a tab style.</div>
    </div>
  </div>
  <div class="main-content-box main-content-box-7">
    <div></div>
  </div>
  <div class="main-content-container">
    <div class="main-content-box main-content-box-8">
      <div>
        I feel Zscaler Trust should grow with you; start simple, and surface the advanced information and features you need at just the right time. The goal was to find the balance between simplifying and burying less important actions and preserving our rich, differentiating information.
      </div>
      <div>
        Black and white
      </div>
      <div>
        With the cleaned up structure, the focal content and components on each page become clear. I wanted to create layouts that can be adopted by most pages, so the users can follow and read with familiarity and efficiency. Creating the wireframes was a process filled with trade-off and prioritizing.
      </div>
    </div>
  </div>
  <div class="main-content-box main-content-box-9"  align="center">
    <div class="container">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <div class="main-content-container">
    <div class="main-content-box main-content-box-10">
      <div>
        After settling down the layout for the key pages, I went through many visual iterations to nail down the experience and craft the details.
      </div>
      <div>
        03 Craft Interactions
      </div>
    </div>
    <div class="main-content-box main-content-box-11">
    </div>
    <div class="main-content-box main-content-box-12">
    </div>
    <div class="main-content-box main-content-box-13">
      <div>
        An impression through content
      </div>
      <div>
        This resulted in a reconsideration of what message, metadata, and context we want to communicate to the user while welcoming them to Zscaler Trust. We got rid of the cloud selection and focused on presenting a reliable impression.
      </div>
    </div>   
  </div>
  <div class="main-content-box main-content-box-14" align="center">
    <div></div>
  </div>
  <div class="main-content-container">
    <div class="main-content-box main-content-box-15"></div>
    <div class="main-content-box main-content-box-16"></div>
  </div>
  <div class="main-content-box main-content-box-17" align="center">
    <div></div>
  </div>
  <div class="main-content-box main-content-box-18" align="center">
    <div></div>
  </div>
  <div class="main-content-box main-content-box-19" align="center">
    <div></div>
  </div>
  <div class="main-content-container">
    <div class="main-content-box main-content-box-20">
      <div>
        Color with purpose
      </div>
      <div>
        Introducing a brand new version of the website gave me the opportunity to refresh the visual design language. With the ability to refresh the visual design, we aimed for a more minimal approach to the UI. We used a base palette of cool grays, blues, reds, and greens. Other colors were used sparingly and with more intentional purpose.
      </div>
      <div>
        Increase efficiency
      </div>
      <div>
        We’d like to enhance the searching and browsing experiences. We improved the global search—accessible through the tab bar—where users can search by keyword for services, data centers, instances, or tags.
        <br><br>
        We also added contextual filter functionality, where users are able to narrow down service/instance lists by severity level, completed/scheduling status or relevance. The user can view all upcoming and previous instances in a monthly calendar view.
      </div>
      <div>
        04 Lessons Learned
      </div>
      <div>
        Changing existing paradigms takes a lot of time
      </div>
      <div>
        When we first started, we were so eager to change everything. Not only were we going to refresh the UI, but we planned to rebuild an existing product from the ground up too.
        <br><br>
        There are definite gains to be had when setting the bar so high. In the end, you might be halfway towards a very optimistic goal which leaves you with something great. Don’t take for granted some of the things you get for free!
        <br><br>
        When being ambitious, there’s a balance that needs to be met. Redefining existing paradigms can be a huge investment and requires patience. Value your time and change the parts of a product that are essential to making it great. Otherwise, you should leverage existing paradigms when you can. In our case, the essential part of the Zscaler Trust product wasn’t structure, it was the information’s presentation.
      </div>
    </div>
  </div>
</div>
<div class="main-content-19 align="center">
    <div class="main-content-container">
      <div class="main-content-box main-content-box-1">
      </div>
      <div class="main-content-box main-content-box-2">
        <div class="left">
          <div class="title">
            WORK
          </div>
          <div class="list list-1">
            Zscaler Trust
            <div></div>
          </div>
          <div class="list list-2">
            Zscaler App
            <div></div>
          </div>
          <div class="list list-3">
            Tripalink
            <div></div>
          </div>
          <div class="list list-4">
            SpringRole
            <div></div>
          </div>
          <div class="list list-5">
            Compass2018
            <div></div>
          </div>
          <div class="list list-6">
            Prize Candle
            <div></div>
          </div>
        </div>
        <div class="right">
          <div></div>
        </div>
      </div>
      <div class="main-content-box main-content-box-3">
      </div>
    </div>
</div>
{% endblock %}

























