<!-- index.html -->
{% extends "base.tmpl" %}

<!-- =================== -->
<!--    title block      -->
<!-- =================== -->
{% block title %} Chloe Du - Zscaler Trust Design{% endblock %}

<!-- =================== -->
<!--   styles block      -->
<!-- =================== -->
{% block styles %}

<!-- custom styles -->
<link href="./styles/base.css" rel="stylesheet">
<link href="./styles/trust.css" rel="stylesheet"> 
{% endblock %}

<!-- =================== -->
<!--   scripts block     -->
<!-- =================== -->
{% block scripts %}
<!-- page scripts -->
<script src="./scripts/trust.js"></script>
{% endblock %}

<!-- =================== -->
<!--     body block      -->
<!-- =================== -->
{% block content %}
<div class="passwordPage" id="pass_index">
  <div class="iconLogo"></div>
  <div class="passwordContainer" align="center">
    <div class="passwordBox">
      <div>
        Hey, nice to meet you.
      </div>
      <div>
        I’m Chloe Du, a product designer based in the SF Bay Area. Please enter the password I’ve provided for you.
      </div>
      <input class="inputBox" placeholder="password" type="password" id="userPassword">
      <div class="errorMsg">The password is invalid. Please try again.</div>
      <div class="passwordSubmit" id="passwordSubmit">Let's go</div>
    </div>
  </div>
</div>
<div class="forPassPage">
<div class="gray-background" id="about-background" align="center">
  <div class="menu-close-icon" id="menu-close-btn"></div>
  <div class="menu-list">
    <div><a href="./">Home</a></div>
    <div><a href="./about.html">About</a></div>
    <div><a href="./assets/img/resume/Resume.pdf">Resume</a></div>
  </div>
  <div class="icons">
    <a href="mailto:chloedjn@gmail.com">
      <div></div>
    </a>
    <a href="https://www.linkedin.com/in/chloedjn">
      <div></div>
    </a>
    <a href="https://dribbble.com/chloedjn">
      <div></div>
    </a>
    <a href="https://www.instagram.com/heiyanquanben/">
      <div></div>
    </a>
  </div>
</div>
<div class="menu-icon" id="menu-btn"></div>
<div class="main-background" align="center">
  <div class="main-left-background"></div>
  <div class="main-right-background"></div>
  <div class="main-background-middle">
    <div class="main-background-middle-left">
      <div class="main-background-text-1">
        Accessible, transparent, confident
      </div>
      <div class="main-background-text-2">
        Being in the know with<br>
        Zscaler Trust
      </div>
      <div class="main-background-text-3">
        Time: October 2017
      </div>
    </div>
    <div class="main-background-middle-right">
      <div class="bottom-image">
        <div class="phone-image"></div>
      </div>
    </div>
  </div>
</div>
<div class="main-content-01" align="center">
  <div class="main-content-container">
    <div class="main-content-box main-content-box-1">
      <div class="left">
      </div>
      <div class="right">
        <div>
          Is Zscaler down?
        </div>
        <div>
          Experiencing service outages is annoying. For users, they're frustrating. For IT supporters, they can mean missed opportunities. And for enterprises, they can have serious effects on products and revenue. Zscaler Trust is the home for real-time information on system performance. 
          <br><br>
          The current Zscaler Trust web presence was stuck in the dark ages.  It had a very outdated look and feel, along with broken functions. Working with the marketing team, I redesigned the whole website from the ground up to make it beautiful and functional.
        </div>
      </div>
    </div>
  </div>
</div>
<div class="main-content-02" align="center">
  <div class="background"></div>
  <div class="main-content-container">
    <div class="main-content-box main-content-box-1">
      <div>
        01 BACKGROUND
      </div>
      <div>
        Time to Say Goodbye
      </div>
      <div>
        Our current Trust website was developed and launched in 2008. Ten years later, it can no longer undergo the heavy traffic and requests. It’s time to refresh it.
      </div>
    </div>
    <div class="main-content-box main-content-box-2"></div>
  </div>
</div>
<div class="main-content-03" align="center">
  <div class="main-content-container">
    <div class="main-content-box main-content-box-1">
      <div>
        Get Started
      </div>
      <div>
        First, we needed to determine where to focus our efforts. 
        <br><br>
        We looked at customer care feedback and tickets from the support team. We ran user studies to learn what features were most appealing and what was confusing. We conducted usability testing with our IT engineers to figure out what was most important to them and what they wanted to see improved.
        <br><br>
        We synthesized our findings and weren’t surprised to see many concerns consistently repeated. Here’s a summary of them:
      </div>
    </div>
    <div class="main-content-box main-content-box-2"></div>
    <div class="main-content-box main-content-box-3">
      <div>
        The North Star
      </div>
      <div>
        The clock is ticking. We need to set our key goals and design considerations in order to prioritize the workload.
      </div>
      <div class="lists">
        <div class="list list-1">
          <div class="icon"></div>
          <div class="text">Refresh and modernize the visual design</div>
        </div>
        <div class="list list-2">
          <div class="icon"></div>
          <div class="text">Increase efficiency. Focus on browsing information fast and drilling into detail quickly</div>
        </div>
        <div class="list list-3">
          <div class="icon"></div>
          <div class="text">Become a great marketing portal and expression of Zscaler’s brand</div>
        </div>
      </div>
    </div>
    <div class="main-content-box main-content-box-4">
      02 IMPROVING THE WHEEL
    </div>
  </div>
</div>
<div class="main-content-04">
  <div class="background"></div>
  <div class="main-content-container">
    <div class="main-content-box main-content-box-1"></div>
  </div>
</div>
<div class="main-content-05" align="center">
  <div class="main-content-container">
    <div class="main-content-box main-content-box-1">
      <div>Job Stories</div>
      <div>
        I read an article a while back about job stories being a much more effective way of identifying features. Listing the job stories helped me to step into Brandon’s shoes to identify his motivators, instead of specific features.
      </div>
      <div></div>
    </div>
    <div class="main-content-box main-content-box-2">
      <div class="title">
        Desired Outcomes
      </div>
      <div class="lists">
        <div class="list">
          <div class="icon"></div>
          <div class="text">
            Provide an overview of the current status of all services from a global map
          </div>
        </div>
        <div class="list">
          <div class="icon"></div>
          <div class="text">
            Ability to check the current and past instances of each service and data center
          </div>
        </div>
        <div class="list">
          <div class="icon"></div>
          <div class="text">
            Ability to view the instance details in a chronological order, noted by severity level 
          </div>
        </div>
        <div class="list">
          <div class="icon"></div>
          <div class="text">
            Ability to subscribe to certain Zscaler service/data centers that accommodate various user needs
          </div>
        </div>
        <div class="list">
          <div class="icon"></div>
          <div class="text">
            Ability to manage subscriptions and edit user preferences
          </div>
        </div>
        <div class="list">
          <div class="icon"></div>
          <div class="text">
            Brand the Zscaler service for marketing purposes
          </div>
        </div>        
      </div>
    </div>
    <div class="main-content-box main-content-box-3">
      <div>Explore</div>
      <div>
        With the insights from research and brainstorming exercises, I took the first step to explore ways to meet the needs and structure the website. Here are two options that we considered:
      </div>
    </div>
    <div class="main-content-box main-content-box-4">
      <div></div>
      <div></div>
    </div>
    <div class="main-content-box main-content-box-5">
      If a user was to use Zscaler’s Trust portal, that is a clear indication that they were aware of what they were looking at. What they need is an intuitive hierarchy that they navigate to find the information, with the system presenting the information in an appealing manner, as well as providing advanced assistance. Option A is providing a good starting point for users to explore, while option B is providing a bigger picture of entire system. Besides, option B is very similiar to our current information system, which could save a lot of time for development and data.
      <br><br>
      After reviewing the content with the PM and validating our data availability with the engineering team, we chose option B as our outline of the website structure.
    </div>
    <div class="main-content-box main-content-box-6">
      <div>Clarifying the Architecture</div>
      <div>
        The old information architecture was filled with confusing lables, messy categories and groups, as well as uncommon patterns. For example, part of incidents were grouped into an individual category “Recent Incidents” with a vague time frame, while all incidents could also be found with all past maintenances and past advisories in another individual category called ”Archives”, which was actually further grouped by month.
      </div>
    </div>
  </div>
  <div class="main-content-box main-content-box-21">
    <div></div>
  </div>
  <div class="main-content-box main-content-box-22">
    <div>
      Besides the information categories, there’re several universal actions that users may take, like acquiring further support from Support or adding RSS feeds. I decided to adopt two lines of navigation to separate the functionalities. The top menu is an universal navigation, working as a toolbar with actions. The second line lists five information categories with in a tab style.
    </div>
  </div>
  <div class="main-content-box main-content-box-7">
    <div></div>
  </div>
  <div class="main-content-container">
    <div class="main-content-box main-content-box-8">
      <div>
        I feel Zscaler Trust should grow with you; start simple, and surface the advanced information and features you need at just the right time. The goal was to find the balance between simplifying and burying less important actions and preserving our rich, differentiating information.
      </div>
      <div>
        Black and White
      </div>
      <div>
        With the cleaned up structure, the focal content and components on each page become clear. I wanted to create layouts that can be adopted by most pages, so the users can follow and read with familiarity and efficiency. Creating the wireframes was a process filled with trade-off and prioritizing.
      </div>
    </div>
  </div>
  <div class="main-content-box main-content-box-9"  align="center">
    <div class="container">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <div class="main-content-container">
    <div class="main-content-box main-content-box-10">
      <div>
        After settling down the layout for the key pages, I went through many visual iterations to nail down the experience and craft the details.
      </div>
      <div>
        03 CRAFT INTERACTIONS
      </div>
    </div>
    <div class="main-content-box main-content-box-11">
      <div></div>
      <div>A homepage that provides a quick visual confirmation of status for the entire system</div>
    </div>
    <div class="main-content-box main-content-box-12">
      <div>
        Save the Click
      </div>
      <div>
        In the previous version, the landing page was the Zscaler Trust introduction and a selection of Zscaler cloud services. The user was confused and most users had no idea about which cloud they were using. 
        <br><br>
        Also, when users arrive on Zscaler Trust, they want to immediately know how good the entire system operates, maybe one of the services they are using is down, or one particular data center which carries their HQ traffic is under maintenance. It’s annoying to take extra steps. What we suggest is to determine the client’s cloud 
      </div>
      <div></div>
      <div>
        Previous Landing Page
      </div>
    </div>
    <div class="main-content-box main-content-box-13">
      <div>
        An Impression Through Content
      </div>
      <div>
        This resulted in a reconsideration of what message, metadata, and context we want to communicate to the user while welcoming them to Zscaler Trust. We got rid of the cloud selection and focused on presenting a reliable impression.
      </div>
    </div>   
  </div>
  <div class="main-content-box main-content-box-14" align="center">
    <div></div>
    <div></div>
  </div>
  <div class="main-content-container">
    <div class="main-content-box main-content-box-15">
      <div class="box-1">
        <div class="bg">
          <div>
            My approach was to display a simple and strong interactive map for them to grab the information at a glance while giving them the impression of a very capable brand. Data visualization is not just about pies and lines; it’s even more powerful in Zscaler Trust — visualizing over 52 geo data points and monitoring millions of network transactions around the world. The interactive map helps users to identify a data center while browsing quickly. 
            <br><br>
            The map uses varying colors to optimize showcasing the status of each data center. For users looking for a specific data center’s status, they can hover over the data center and see the most important content in a tooltip, providing entry points into more detailed information.
          </div>
        </div>
      </div>
      <div class="box-2">
        <div></div>
        <div>
          A new Service/Data Center level breakout that displays the health of service in the past 30 days with an enhanced timeline which details instance durations and impact severities
        </div>
      </div>
      <div class="box-3">
        <div>
          Let Data Tell the Story
        </div>
        <div>
          Cloud Status is a portal to view the current status of the Zscaler service and data center availability. I compared several precedents and most of the precedents only display the status on the present day in the default view. In our quick hallway research, we noticed that users always wanted to click a past date and view the status/instance of that day. Also, we wanted to show that our continuous services were operating healthily all the time, so I thus decided to lay out the services with a timeline.
        </div>
      </div>
      <div class="box-4">
        <div></div>
      </div>
      <div class="box-5">
        <div>
          An Interface You Can Read
        </div>
        <div>
          I want to create a unified view that would display every service and data center in a grid pattern. The health of services in the past 30 days can be found in the table. It should cover all instances that happen to the service/data center, including disruption, degradation, and informational instance. 
          <br><br>
          I explored several iterations to show the status. Here are some of the options.
        </div>
      </div>
      <div class="box-6">
        
      </div>
      <div class="box-7">
        After weighing up the pros and cons, we decided upon the fourth option. 
        <br><br>
        The good side is clear: it provides the visibility of a continuous service running on a service-level breakout. The enhanced timeline displays the health of service in the past 30 days that details instance durations and impact severities. All types of the instance can be found, including service disruption, service degradation, and informational advisories. 
        <br><br>
        A brief description is provided within the tooltip of each instance dot and users can go further from there. Filters are provided to help narrow down the scope. Users can choose to view their subscribed data centers or allow Zscaler to sort their assigned data centers/services.
      </div>
      <div class="box-8"></div>
      <div class="box-9">
        <div></div>
        <div>
          Anyone can self-subscribe to real-time email notifications regarding their clouds’ incidents and maintenances, tailoring their subscription settings to the instances and types of events of which they wish to be notified.
        </div>
      </div>
      <div class="box-10">
        <div>
          Quick Access to the Subscription System
        </div>
        <div>
          Here’s the scenario: the IT guy Brandon, who is responsible for all security-related issues for ATechComp, needs to be aware of what is happening and what is going to happen. He must be notified immediately if there’s an incident related to any of the services and data centers that ATechComp is using. He finds that:
        </div>
      </div>
      <div class="box-11">
        <div class="lists">
          <div class="list">
            <div class="icon"></div>
            <div class="text">
              It’s time-consuming to check Zscaler Trust Portal back and forth manually.
            </div>
          </div>
          <div class="list">
            <div class="icon"></div>
            <div class="text">
              It’s hard to find their services/data centers’ names by browsing through all services and Zscaler data centers on Trust Portal every time.  (There are 8 services and over 40 data centers for now, and the number is continually growing).
            </div>
          </div>
          <div class="list">
            <div class="icon"></div>
            <div class="text">
              He only cares about the services/data centers that may impact their business.
            </div>
          </div>
          <div class="list list-text">
            Thus, Brandon needs to have an account and subscribe to certain services and data centers. Also, he needs to be able to manage the subscriptions. Wherever and whenever Brandon wants to “subscribe”, we want he to find it easily and quickly. I analyzed different scenarios that Brandon might get into, here’re some potential places that we considered.
          </div>
        </div>
      </div>
      <div class="box-12">
        <div></div>
      </div>
      <div class="box-13">
        <div class="title">
          Then I broke down the subscribe action into two use cases:
        </div>
        <div class="lists">
          <div class="list">
            <div class="icon"></div>
            <div class="text">
              One universal subscribe button that allows Brandon to subscribe to all services from any pages.
            </div>
          </div>
          <div class="list text-1">
            <div class="icon"></div>
            <div class="text ">
              A secondary-level subscribe button that allows Brandon to subscribe to a certain service/data center from the Service/ Data Center.
            </div>
          </div>
        </div>
      </div>
      <div class="box-14">
        <div></div>
      </div>
      <div class="box-15">
        <div>A Just “Get-In” Experience</div>
        <div>
          Our users are able to browse Zscaler Trust without creating an account all of the time. If they want to subscribe, they must provide an email address and confirm the subscription. 
          <br><br>
          The typical method is to ask the users to sign up/sign in when they want to subscribe, activate the account/confirm the subscription and then redirect them back. Users find it very annoying and most users give up at this point. Subscribing is so critical that there shouldn’t be any interruptions.
          <br><br>
          Instead of forcing users to create an account or jump between pages, I wanted to provide a quick “get-in” experience — subscribe first, create the account later. I went through many iterations of wireframes to nail down the core experience. The flow is displayed below.
        </div>
      </div>
    </div>
  </div>
  <div class="main-content-box main-content-box-17" align="center">
    <div></div>
  </div>
  <div class="main-content-box main-content-box-18" align="center">
    <div class="box-container">
      <div class="box-1">
        <div>Dedicated Flows</div>
        <div>
          The designs are split into two flows according to the different user groups (new user & returning user). After the user clicks on the Subscribe icon,  we ask them for an email address for sending the notifications to. If the input is new to our database, we assume the user is a new user and encourage he/she to create an account in order to manage subscriptions. The sign in/sign up and email activation is saved for later in order to reduce the complexity of this step.
        </div>
      </div>
      <div class="box-2"></div>
      <div class="box-3">
        If the email address can be found in our database, we treat the user as a returning user. The subscription would still be stored, then users can provide their password if they want to sign in. This flow also includes incorrect password and forget password, etc.
      </div>
      <div class="box-4">
        <div></div>
        <div>
          A refreshed UI with modern visual languages, introducing more ways to search, browse, filter
        </div>
      </div>
    </div>
  </div>
  <div class="main-content-box main-content-box-19" align="center">
    <div></div>
  </div>
  <div class="main-content-container">
    <div class="main-content-box main-content-box-20">
      <div>
        Increase Efficiency
      </div>
      <div>
        We’d like to enhance the searching and browsing experiences. I partnered with engineers to improve the global search — with auto-complete suggestions —where users can search by keyword for services, data centers, instances, or tags.
        <br><br>
        Trust makes decision on behalf of users. In most cases, a client’s all services operate on the same cloud with multiple main data centers and at least one backup data center. Users may not be quite familiar with their assigned data centers, especially potential clients. By analyzing users’ IP address, Trust is able to show user’s cloud/data centers and informs users with actionable suggestions through filters and tips.
        <br><br>
        For maintainence/incident/advisory lists, we added contextual filter functionality, where users are able to narrow down service/instance lists by severity level, individual data center, completed/scheduling status or advisory relevance. The user can view all instances in a monthly calendar view. The previous and upcoming instance are marked through different color code.
      </div>
      <div>
        Color With Purpose
      </div>
      <div>
        Introducing a brand new version of the website gave me the opportunity to refresh the visual design language. With the ability to refresh the visual design, we aimed for a more minimal approach to the UI. We used a base palette of cool grays, blues, reds, and greens. Other colors were used sparingly and with more intentional purpose.
      </div>
      <div>
        04 Lessons Learned
      </div>
      <div>
        Changing Existing Paradigms Takes a Lot of Time
      </div>
      <div>
        When we first started, we were so eager to change everything. Not only were we going to refresh the UI, but we planned to rebuild an existing product from the ground up too.
        <br><br>
        There are definite gains to be had when setting the bar so high. In the end, you might be halfway towards a very optimistic goal which leaves you with something great. Don’t take for granted some of the things you get for free!
        <br><br>
        When being ambitious, there’s a balance that needs to be met. Redefining existing paradigms can be a huge investment and requires patience. Value your time and change the parts of a product that are essential to making it great. Otherwise, you should leverage existing paradigms when you can. In our case, the essential part of the Zscaler Trust product wasn’t structure, it was the information’s presentation.
      </div>
    </div>
  </div>
</div>
<div class="main-content-19 align="center">
    <div class="main-content-container">
      <div class="main-content-box main-content-box-1">
      </div>
      <div class="main-content-box main-content-box-2">
        <div class="left">
          <div class="title">
            WORK
          </div>
          <a href="./designAtZscaler.html">
            <div class="list list-1">
              Zscaler Projects
              <div></div>
            </div>
          </a>
          <a href="./trust.html">
            <div class="list list-2">
              Zscaler Trust
              <div></div>
            </div>
          </a>
          <a href="./zscalerApp.html">
            <div class="list list-3">
              Zscaler App
              <div></div>
            </div>
          </a>
          <a href="./tripalink.html">
            <div class="list list-4">
              Tripalink
              <div></div>
            </div>
          </a>
          <a href="./springRole.html">
            <div class="list list-5">
              SpringRole
              <div></div>
            </div>
          </a>
          <a href="./compass.html">
            <div class="list list-6">
              Compass2018
              <div></div>
            </div>
          </a>
          <a href="./prizeCandle.html">
            <div class="list list-7">
              Prize Candle
              <div></div>
            </div>
          </a>
        </div>
        <div class="right">
          <div id="scrollImg"></div>
        </div>
      </div>
      <div class="main-content-box main-content-box-3">
      </div>
    </div>
</div>
</div>
{% endblock %}

























