<!-- index.html -->
{% extends "base.tmpl" %}

<!-- =================== -->
<!--    title block      -->
<!-- =================== -->
{% block title %} Chloe Du - ZscalerApp Design{% endblock %}

<!-- =================== -->
<!--   styles block      -->
<!-- =================== -->
{% block styles %}

<!-- custom styles -->
<link href="./styles/base.css" rel="stylesheet">
<link href="./styles/zscalerApp.css" rel="stylesheet"> 
{% endblock %}

<!-- =================== -->
<!--   scripts block     -->
<!-- =================== -->
{% block scripts %}
<!-- page scripts -->
<script src="./scripts/zscalerApp.js"></script>
{% endblock %}

<!-- =================== -->
<!--     body block      -->
<!-- =================== -->
{% block content %}
<div class="gray-background" id="about-background" align="center">
  <div class="menu-close-icon" id="menu-close-btn"></div>
  <div class="menu-list">
    <div><a href="./">Home</a></div>
    <div><a href="./about.html">About</a></div>
    <div><a href="./assets/img/resume/Resume.pdf">Resume</a></div>
  </div>
  <div class="icons">
    <a href="mailto:chloedjn@gmail.com">
      <div></div>
    </a>
    <a href="https://www.linkedin.com/in/chloedjn">
      <div></div>
    </a>
    <a href="https://dribbble.com/chloedjn">
      <div></div>
    </a>
    <a href="https://www.instagram.com/heiyanquanben/">
      <div></div>
    </a>
  </div>
</div>
<div class="menu-icon" id="menu-btn"></div>
<div class="main-background" align="center">
  <div class="main-left-background"></div>
  <div class="main-background-middle">
    <div class="main-background-middle-left">
      <div class="main-background-text-1">
          One app. All devices. No problem.
        </div>
        <div class="main-background-text-2">
          Activate an Invisible Safeguard with Zscaler App
        </div>
        <div class="main-background-text-3">
          Complete: April - July 2017
        </div>
        <div class="triangle-background">
        </div>
      </div>
      <div class="main-background-middle-right">
        <div class="bottom-image">
          <div class="phone-image"></div>
        </div>
      </div>
    </div>
</div>
<div class="main-content-01" align="center">
  <div class="main-content-container">
    <div class="main-content-box main-content-box-1">    
      <div class="main-title-number">
        01
      </div>
      <div class="main-title-text">
        Background
      </div>
    </div>
    <div class="main-content-box main-content-box-2">
      <div>
        A little bit Context
      </div>
      <div>
        Mobility has increased business productivity, but it’s also brought about its share of issues. The Zscaler Cloud processes a lot of mobile data traffic globally, and we’re seeing an increase in mobile apps that are leaking data. 
      </div>
    </div>
    <div class="main-content-box main-content-box-3">
    </div>
    <div class="main-content-box main-content-box-4">
      <div class="title title-1">
        What are leaking:
      </div>
      <div class="content content-1">
        <div class="circle-outter">
          <div class="circle-inner"></div>
        </div>
        <div class="text">
          Device metadata: device’s unique ID, info about network & software. <span>—— 65%</span>
        </div>
      </div>
      <div class="content content-2">
        <div class="circle-outter">
          <div class="circle-inner"></div>
        </div>
        <div class="text">
          Location: latitude-longitude coordinates. <span>—— 22%</span>
        </div>
      </div>
      <div class="content content-3">
        <div class="circle-outter">
          <div class="circle-inner"></div>
        </div>
        <div class="text">
          Personally identifiable information (PII):  phone number, email, etc. <span>—— 2%</span>
        </div>
      </div>
    </div>
    <div class="main-content-box main-content-box-5">
      <div class="title title-2">
        How the leaked data can be used against you
      </div>
      <div class="content content-1">
        <div class="circle-outter">
          <div class="circle-inner"></div>
        </div>
        <div class="text">
          Targeted DoS
        </div>
      </div>
      <div class="content content-2">
        <div class="circle-outter">
          <div class="circle-inner"></div>
        </div>
        <div class="text">
          Physical tracking
        </div>
      </div>
      <div class="content content-3">
        <div class="circle-outter">
          <div class="circle-inner"></div>
        </div>
        <div class="text">
          Targeted attacks
        </div>
      </div>
      <div class="content content-4">
        <div class="circle-outter">
          <div class="circle-inner"></div>
        </div>
        <div class="text">
          Phishing and spam
        </div>
      </div>
      <div class="content content-5">
        <div class="circle-outter" style="visibility: hidden;">
          <div class="circle-inner"></div>
        </div>
        <div class="text">
          ...
        </div>
      </div>
      <div class="main-content-box main-content-box-6">
        Find our research on <a href="http://www.zsacler.com">Zscaler.com</a>
      </div>
      <div class="main-content-box main-content-box-7">
        Each quarter, we see about 45M transactions carried out on mobile devices.  About 0.4% of the mobile device transactions entail the leaking privacy data.
      </div>
    </div>
  </div>
</div>
<div class="main-content-02" align="center">
  <div class="main-content-box main-content-box-1">
    <div>
      Mobile apps is a leaky tap in the enterprise.
    </div>
  </div>
</div>
<div class="main-content-03" align="center">
  <div class="main-content-container">
    <div class="main-content-box main-content-box-1">
      <div class="title">
        The Challenge
      </div>
      <div class="text">
        <div>
          One of the biggest challenges is the need to provide complete, consistent security across devices that you may not own. And because these devices each run on their own operating systems, and change on their own schedule, finding a single way to secure them all has been difficult. Even more problematic, the majority of web traffic from mobile devices comes from apps, not from standard browsers, so threats may not even be visible to traditional security appliances.
        </div>
      </div>
      <div class="title">
        Our Solution
      </div>
      <div class="text">
        <div>
          As a  cloud security platform, Zscaler acts as the go-between for users and the internet; we inspect every byte of traffic and ensure that it complies with users’ security policies. Now, with the Zscaler App, directing the user’s web traffic – including app traffic – to Zscaler is as simple as one click.
        </div>
      </div>
    </div>
    <div class="main-content-box main-content-box-2">
    </div>
    <div class="main-content-box main-content-box-3">
      The entire Zscaler App suite includes a mobile app (iOS, Android), a tablet app (iOS, Android) and desktop apps (iOS, Windows). This case study focuses on discussing the <span>Android mobile app</span>.
    </div>
  </div>
</div>
<div class="main-content-04" align="center">
  <div class="main-content-container">
    <div class="main-content-box main-content-box-1">    
      <div class="main-title-number">
        02
      </div>
      <div class="main-title-text">
        Intro
      </div>
    </div>
    <div class="main-content-box main-content-box-2">
      <div>
        Warm Up
      </div>
      <div>
        Our old Mobile Apps were developed in 2013 and they have been on the market for over 4 years. We started looking into revamping the product in July 2017. Before diving into the new design, I took a step back to familiarize myself with the current services and product.
      </div>
    </div>
  </div>
</div>
<div class="main-content-05" align="center">
  <div></div>
</div>
<div class="main-content-06" align="center">
  <div class="main-content-container">
    <div class="main-content-box main-content-box-1">
      <div>
        While playing around with the app, I took notes on the flow breakpoints and the frustrations of using the app. By reorganizing my notes to create a roadmap of the current app, the confusions involving in each steps arose. During meetings with the larger team, the app analysis helped me gain empathy while explaining my decisions.
      </div>
    </div>
    <div class="main-content-box main-content-box-2">
      The Challenge
    </div>
    <div class="main-content-box main-content-box-3">
      <div class="left">
        <div class="cell-title cell-title-1">
          Fragmented<br>Experience
        </div>
        <div class="cell-title cell-title-2">
          Out-dated<br>Look & Feel
        </div>
        <div class="cell-title cell-title-3">
          Information<br>Architecture
        </div>
        <div class="cell-title cell-title-4">
          Consistency<br>& limitations
        </div>
        <div class="cell-title cell-title-5">
          New Service
        </div>
      </div>
      <div class="right">
        <div class="cell-text cell-text-1">
          We got tons of feedback from our customers about how they felt frustrated and insecure whenever they used the app. They stated that, for example, the app required too many taps/gestures to navigate, it was slow to open and load the details page on the app, it contained too much unreadable information, it also had too many technical writings and robotic language, etc. Some words and abbreviations can be understood only by security field engineers or users who are very familiar with the Zscaler product.
        </div>
        <div class="cell-text cell-text-2">
          The current app was designed four years ago and was designed in skeuomorphism style with metal textures and drop shadows. The color set was dark and most of the font were too small to read. The data presentation methods were also out-fashioned.
        </div>
        <div class="cell-text cell-text-3">
          The current app structure is based on a scroll tab bar, which is the main navigation system. The tabs switch between destinations of varying importance within the app. Each tab contained mixed information that was a mess and whose main point was unclear. Similarly, the UI was overloaded and too complex for non-tech-savvy users, with both actual and perceived sub-optimal speed and performance.
        </div>
        <div class="cell-text cell-text-4">
          The Zscaler App works across different operating systems and a variety of devices:  iOS, Android, Windows, etc. However, the current mobile app looks totally different from the desktop app yet they are supposed to represent the same brand and give the same expressions to users. The new design needs to stay consistent across all platforms. It also needs to be simple enough to adapt to all systems regardless of their differences. Furthermore, the new design needs to be able to quickly roll out on all platforms within a tight timeline.
        </div>
        <div class="cell-text cell-text-5">
          Besides the current service, prevent the loss of user data, the PMs also asked for a new service - Private Access, which is a completely new service for our mobile users. However, adapting the new service to the current scope became another challenge.
        </div>
      </div>
    </div>
    <div class="main-content-box main-content-box-4">
      <div class="container">
        <div class="text text-1">
          After maneuvering through the Z-app, I realized that the previous Z-app emphasized on laying out all data points and every single detail for users to read, rather than even caring about whether the information was actually helpful to them. Most of the product decisions were based on what could be done instead of what should be done.
        </div>
      </div>
      <div class="container">
        <div class="text text-2">The more we informed,<br>the more we confused people</div>
      </div>
      <div class="container">
        <div class="text text-3">Actually, focusing on 20% would solve 80% of the user needs. I decided to simplify the app and enhance overall experience.</div>
      </div>
      <div class="container">
        <div class="text text-4">My Role</div>
      </div>
      <div class="container">
        <div class="text text-5">I was the only designer responsible for the Z-app re-design from July 2017 to October 2017. I worked alongside two product managers and five engineers (including an iOS developer, Android developer and UI engineers). The app was launched globally on February 2018.</div>
      </div>
    </div>
  </div>
</div>
<div class="main-content-07" align="center">
  <div class="main-content-container">
    <div class="main-content-box main-content-box-1">    
      <div class="main-title-number">
        03
      </div>
      <div class="main-title-text">
        Explore
      </div>
    </div>
    <div class="main-content-box main-content-box-2">
      <div>
        Get to know the user
      </div>
      <div>
        At the outset of the project, we didn’t have a clear mission or specific goals for the re-design. I wanted to hear stories from users about their needs, rather than speculating about them. I spent two days interviewing five potential users.
      </div>
    </div>
    <div class="main-content-box main-content-box-3">
    </div>
    <div class="main-content-box main-content-box-4">
      Discovery from the fields
    </div>
    <div class="main-content-box main-content-box-5">
      During the interview, I noticed four emotions among the interviewees.
    </div>
    <div class="main-content-box main-content-box-6">
      <div class="left"></div>
      <div class="right">
        <div class="top">
          Annoyed with overwhelming information
        </div>
        <div class="bottom">
          Users were annoyed whenever they were overloaded with information and/or asked to make choices, especially when they were asked to enter the password everytime while login. Users expected Zscaler to do the cleanup work and didn't feel the need to be scrutinized.
        </div>
      </div>
    </div>
    <div class="main-content-box main-content-box-7">
      <div class="left"></div>
      <div class="right">
        <div class="top">
          Doubt on service status
        </div>
        <div class="bottom">
          On most occasions, people “use” this app while doing something else. People care most about whether the app is working and how it works.
        </div>
      </div>
    </div>
    <div class="main-content-box main-content-box-8">
      <div class="left"></div>
      <div class="right">
        <div class="top">
          Concerns about the data usage
        </div>
        <div class="bottom">
          People had concerns about the data usage, roaming rates, battery draining, mobile performance and CPU usage, since the app runs in the background all the time. 
        </div>
      </div>
    </div>
    <div class="main-content-box main-content-box-9">
      <div class="left"></div>
      <div class="right">
        <div class="top">
          Frustrated whenever they lost connection
        </div>
        <div class="bottom">
          People were scared and felt frustrated when they were mis-blocked by Zscaler App or got disconnected. They became angry when they found they couldn’t troubleshoot by themselves.<br>
          People were scared and felt frustrated whenever they got disconnected. They became angry whenever they couldn’t troubleshoot for the problem by themselves.
        </div>
      </div>
    </div>
    <div class="main-content-box main-content-box-10">
      <div>
        Key goals and design considerations
      </div>
      <div>
        If power users with great reception and tech literacy were having trouble with our tech-savvy marketplace, how bad was the experience in our immature marketplaces with more challenging technological contexts?  The original premise is simple: get connected, get protected, anywhere and anytime. I began to look for the north star:
      </div>
    </div>
    <div class="main-content-box main-content-box-11">
      <div class="content content-1">
        <div class="circle-outter">
          <div class="circle-inner"></div>
        </div>
        <div class="text">
          Focus on speed, simplicity, delight and ease of use for everyone
        </div>
      </div>
      <div class="content content-2">
        <div class="circle-outter">
          <div class="circle-inner"></div>
        </div>
        <div class="text">
          Build trust and have the users feelsecure all the time
        </div>
      </div>
      <div class="content content-3">
        <div class="circle-outter">
          <div class="circle-inner"></div>
        </div>
        <div class="text">
          Maintain consistency and create a template that is easily adaptable to different operating systems/devices.
        </div>
      </div>
    </div>
  </div>
</div>
<div class="main-content-08" align="center">
  <div class="main-content-container">
    <div class="main-content-box main-content-box-1">    
      <div class="main-title-number">
        04
      </div>
      <div class="main-title-text">
        Approach
      </div>
    </div>
    <div class="main-content-box main-content-box-2">
      <div>
        Narrow down the scope
      </div>
    </div>
    <div class="main-content-box main-content-box-3">
<!--       <div class="left">
        <div>I want to prevent data loss.</div>
        <div>EMPLOYER</div>
      </div> -->
      <div class="middle-container" id="ee_pointer">
        <div class="middle">
          <div class="pic pic-1" id="pic-1"></div>
          <div class="pic pic-2" id="pic-2"></div>
          <div class="pic pic-p" id="pic-p"></div>
        </div>
      </div>
<!--       <div class="right">
        <div>I want to acquire private access.</div>
        <div>EMPLOYEE</div>
      </div> -->
    </div>
    <div class="main-content-box main-content-box-4">
      <div>
        Zscaler wants to protect every user transaction through Web Security. In addition to that, the new service, Private Access, will allow the user to access their office network. Private Access is a separate and fully independent service from Web Security. Private Access serves authorized users only; the service can be added or removed depending on the central management console. This was the beginning of setting the product scope.
      </div>
      <div>
        An Explicit Information Architecture
      </div>
      <div>
        While cleaning up the current app structure, I started to think about how to adopt the new feature without interrupting the current flow.
      </div>
      <div></div>
      <div>
        The first option was to have two sets of functions run parallel to each other and focus on systematizing the experience to be more modular. They would also provide the app with the ability to be more flexible and scalable for future functions. Since users are already familiar with how it works with Web Security, they won’t feel confused if we are reusing the same pattern from Web Security for Private Access. Furthermore, the engineers only need to build a separate system for the new service without messing with the previous set.
      </div>
      <div></div>
      <div>
        I explored another direction; treating the two functions as a whole. This is very common in other apps. This option put the two different services together on the same page and the shared features were elevated to independent sections.<br><br>
        There were several back and forth discussions and long debates between PMs, engineers and our design team. In the meantime, I started brainstorming and wire-framing to see how the two structures would work.
      </div>
      <div>
        Sketching out ideas
      </div>
    </div>
  </div>
</div>
<div class="main-content-09" align="center">
  <div class="main-content-box main-content-box-1">
    <div>
    </div>
  </div>
</div>
<div class="main-content-10" align="center">
  <div class="main-content-container">
    <div class="main-content-box main-content-box-1">
      <div>
        Much like the 5-day sprint suggestions, I started to go through several existing apps to find great patterns for inspiration. Examples included Expedia’s cards with the tab bar, Trulia’s can’t-ignore “Request” button on the bottom, Robinhood’s minimalism line chart, Gmail’s hamburger menu hiding anything else, Apple Clock’s Bedtime section having a big circle showing your schedule.
        <br><br>
        What I liked best about the Apple Clock’s Bedtime was its focus on showing the current status of your schedule, as well as the turn on/turn off switch.
      </div>
      <div>
        A minimal approach
      </div>
      <div>
        We feared that the new Private Access service would cause confusion because it was fundamentally a different thing. Fortunately, familiarity makes people feel safe. I decided to put the two services next to each other and make them look and feel the same. 
        <br><br>
        After exploring variations, I narrowed down to 3 options and created iterations with more details. If the new goal was to simplify the entire app, the home screen needed to inspire action and only reveal valuable information to the user. 
      </div>
    </div>
  </div>
</div>
<div class="main-content-11" align="center">
  <div class="main-content-box main-content-box-1">
    <div>
    </div>
    <div>
    </div>
    <div>
    </div>
  </div>
</div>
<div class="main-content-12" align="center">
  <div class="main-content-container">
    <div class="main-content-box main-content-box-1">
      <div>
        The interface had to be logically structured with the most important information up front, and detailed information and actions secondary. Things that people used the most should be the most readily accessible, and more detailed interactions should require one extra step, allowing us to create a simple up-front impression that didn’t overwhelm with information and interactions only occasionally needed. 
        <br><br>
        Always trying to radically simplify: What is the most important thing a person needs to implicitly understand in order to use a feature successfully? Instead of over-communcating we would focus on telling a more human story, an interface that you could read. We decided to go with the third option.
      </div>
      <div>
        Complete the flow
      </div>
      <div>
        After settling on the perfect home screen, the information also fell into place. I went through the other sections and completed the flow.
      </div>
    </div>
  </div>
</div>
<div class="main-content-14" align="center">
  <div class="main-content-container">
    <div class="main-content-box main-content-box-1">
      <div>
        Material Design
      </div>
      <div>
        I employed Material Design on the app. To maintain consistency with all Zscaler products, I used our main font - Helvetica Neue. To reduce the visual noises, I picked 15 colors from our 65 color palette. 
      </div>
    </div>
    <div class="main-content-box main-content-box-2">
      <div class="left">
        <div></div>
      </div>
      <div class="right"></div>
    </div>
    <div class="main-content-box main-content-box-3">
    </div>
  </div>
</div>
<div class="main-content-15" align="center">
  <div class="main-content-container">
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
<div class="main-content-16" align="center">
  <div class="main-content-container">
    <div class="main-content-box main-content-box-1">
      Crafting Animations
    </div>
    <div class="main-content-box main-content-box-2">
      It usually takes seconds for our services to find the appropriate cloud and set up the tunnel. Once it gets connected, the services start running in the back and users can leave the app at anytime. A key design challenge was to consider how much emphasis should be given to this ‘always running’ state. How could the user be aware that the app is protecting them at all times? 
      <br><br>
      In addition to show the real-time upload/download usages and the network activity’s ups and downs, I explored animations to inspire confidence and to gain clientele. This was the selected iteration.
    </div>
    <div class="main-content-box main-content-box-3">
    </div>
    <div class="main-content-box main-content-box-4">
      <div>
          A fresh identity
      </div>
      <div>
          In the previous version, the app only represented Zscaler and used Zscaler’s logo as its icon. Now, we have partnered with vendors like Verizon and T-mobile, and we need to consider white-labeling and rebranding. The new icon should have the ability to represent the app itself and accommodate future potentials. I explored 5 options with different perspectives. In the end, we chose the one with a shield (to bring about the notion of security) and a leaf (to inspire healthy access).
      </div>
    </div>
    <div class="main-content-box main-content-box-5">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</div>
<div class="main-content-17" align="center">
  <div class="main-content-container">
    <div class="main-content-box main-content-box-1">  
      <div class="main-title-number">
        05
      </div>
      <div class="main-title-text">
        Protect everyone, anytime
      </div>
    </div>
    <div class="main-content-box main-content-box-2">
      <div>
        External & Internal Protection
      </div>
      <div>
        Secure users at any location from a cloud security platform. Enable authorized users to access private and internal applications, regardless of where the user is located or where the application is housed. The app doesn't require hardware infrastructure. With a simple click, you are protected.
      </div>
      <div>
        <div></div>
      </div>
    </div>
    <div class="main-content-box main-content-box-3">
      <div>
        <div>
          <div> 
          </div>
        </div>
      </div>
    </div>
    <div class="main-content-box main-content-box-4">
      <div>Review Your Network Activities</div>
      <div>
        Track your daily network activites and help you to consider the costs associated<br>
        with smartphone updates while on the reoad using data or roaming rates.
      </div>
    </div>
    <div class="main-content-box main-content-box-5">
      <div></div>
    </div>
    <div class="main-content-box main-content-box-6">
      <div></div>
    </div>
    <div class="main-content-box main-content-box-7">
      <div>
        Get Notified when Unsecure Behavior Occurs
      </div>
      <div>
        All traffic is inspected in real time in the cloud before it reaches mobile devices.  And attack vectors are blocked on the cloud before reaching the device. Users get notified of insecure behaviors. If users found this is a false-block, they can easily submit a site review request here to unblock.
      </div>
    </div>
    <div class="main-content-box main-content-box-8">
      <div></div>
    </div>
    <div class="main-content-box main-content-box-9">
      <div>
        Troubleshoot through self-service & get help
      </div>
      <div>
        Users are provided with a troubleshooting guide so that they are able to serve themselves. In addition, users can always use Zscaler’s online help portal for self-service or to submit a ticket through ‘Report an Issue’ to get direct support from our technical team.
      </div>
    </div>
    <div class="main-content-box main-content-box-10">
      <div>
      </div>
    </div>
  </div>
</div>
<div class="main-content-18 align="center">
  <div class="main-content-container">
    <div class="main-content-box main-content-box-1">  
      <div class="main-title-number">
        06
      </div>
      <div class="main-title-text">
        MEASURE SUCCESS
      </div>
    </div>
    <div class="main-content-box main-content-box-2">
      <div>
        Although it will be hard to compare the differences between the new app and the previous one since we didn’t track the user behaviors on our previous app, I set the success metrics to investigate the improvements and validate the solution. Digging into the data will reveal insights for future features. I believe this to be a positive change that will showcase itself in the future. 
      </div>
    </div>
    <div class="main-content-box main-content-box-3">
      <div>
      </div>
    </div>
    <div class="main-content-box main-content-box-4">
      <div>
        After we were finished with the Android mobile app, I continued to create and polish the app for iOS mobile, Windows desktop, and iOS desktop. 
      </div>
    </div>
    <div class="main-content-box main-content-box-5">
      <div>
      </div>
    </div>
  </div>  
</div>
<div class="main-content-19 align="center">
    <div class="main-content-container">
      <div class="main-content-box main-content-box-1">
      </div>
      <div class="main-content-box main-content-box-2">
        <div class="left">
          <div class="title">
            WORK
          </div>
          <div class="list list-1">
            Zscaler Trust
            <div></div>
          </div>
          <div class="list list-2">
            Zscaler App
            <div></div>
          </div>
          <div class="list list-3">
            Tripalink
            <div></div>
          </div>
          <div class="list list-4">
            SpringRole
            <div></div>
          </div>
          <div class="list list-5">
            Compass2018
            <div></div>
          </div>
          <div class="list list-6">
            Prize Candle
            <div></div>
          </div>
        </div>
        <div class="right">
          <div></div>
        </div>
      </div>
      <div class="main-content-box main-content-box-3">
      </div>
    </div>
</div>
{% endblock %}

























