<!-- Start footer -->
<footer id="mu-footer">
  <!-- start footer top -->
  <div class="mu-footer-top">
    <div class="container">
      <div class="mu-footer-top-area">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="mu-footer-widget">
              <h4>Information</h4>
              <ul>
                <li><a href="./about.html">About Us</a></li>
                <li><a href="./terms.html">Terms of Use</a></li>
                <li><a href="./privacy.html">Privacy</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="mu-footer-widget">
              <h4>Student Help</h4>
              <ul>
                <li><a href="./program.html">The Program</a></li>
                <li><a href="./curriculum.html">Curriculum</a></li>
                <li><a href="./admission.html">Admission</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="mu-footer-widget">
              <h4>Contact</h4>
              <ul>
                <li><a href="mailto:info@itac.io">Email: info@itac.io</a></li>
                <li><a href="#">Wechat: LaiOffer</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end footer top -->
  <!-- start footer bottom -->
  <div class="mu-footer-bottom">
    <div class="container">
      <div class="mu-footer-bottom-area">
        <p>&copy; All Right Reserved. Designed by <a href="http://www.ita.io/" rel="nofollow">Information Technology Academy</a></p>
      </div>
    </div>
  </div>
  <!-- end footer bottom -->
</footer>
<!-- End footer -->